nodered/flows.json
[
  {
    "id": "flow_arcgis_cfg",
    "type": "tab",
    "label": "ArcGIS → TAK",
    "disabled": false,
    "info": "Top: Configurator (/configurator). Bottom: sync engine (TLS + poll). Same tab so saved configs & TAK settings share one flow context."
  },
  {
    "id": "c_ui",
    "type": "comment",
    "z": "flow_arcgis_cfg",
    "name": "── Configurator UI (/configurator) ──",
    "info": "",
    "x": 240,
    "y": 40,
    "wires": []
  },
  {
    "id": "hi_ui",
    "type": "http in",
    "z": "flow_arcgis_cfg",
    "name": "GET /configurator",
    "url": "/configurator",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 80,
    "wires": [
      [
        "t_ui"
      ]
    ]
  },
  {
    "id": "t_ui",
    "type": "template",
    "z": "flow_arcgis_cfg",
    "name": "Configurator HTML",
    "field": "payload",
    "fieldType": "msg",
    "format": "html",
    "syntax": "plain",
    "template": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>ArcGIS → TAK Configurator</title>\n<style>\n  * { box-sizing: border-box; margin: 0; padding: 0; }\n  body {\n    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;\n    background: #1a1a2e; color: #e0e0e0; padding: 1rem;\n  }\n  .container { width: 100%; max-width: none; margin: 0; }\n  h1 { color: #fff; margin-bottom: 0.3rem; font-size: 1.5rem; }\n  .subtitle { color: #888; margin-bottom: 1.5rem; font-size: 0.85rem; }\n\n  .step {\n    background: #16213e; border-radius: 8px; padding: 1.5rem;\n    margin-bottom: 1rem; border-left: 3px solid #0f3460;\n    transition: opacity 0.3s;\n  }\n  .step h2 {\n    color: #2ec4b6; font-size: 0.85rem; margin-bottom: 1rem;\n    text-transform: uppercase; letter-spacing: 0.05em;\n  }\n  .step.disabled { opacity: 0.35; pointer-events: none; }\n\n  label { display: block; font-size: 0.85rem; color: #a0a0b0; margin-bottom: 0.3rem; }\n  input[type=\"text\"], input[type=\"number\"], select {\n    width: 100%; padding: 0.6rem; background: #0f3460;\n    border: 1px solid #1a1a4e; border-radius: 4px;\n    color: #fff; font-size: 0.95rem;\n  }\n  input:focus, select:focus { outline: none; border-color: #2ec4b6; }\n\n  button {\n    padding: 0.6rem 1.5rem; background: #2ec4b6; color: #fff;\n    border: none; border-radius: 4px; cursor: pointer; font-size: 0.95rem;\n    transition: background 0.2s;\n  }\n  button:hover { background: #1a9e92; }\n  button:disabled { background: #555; cursor: not-allowed; }\n  .btn-secondary { background: #0f3460; }\n  .btn-secondary:hover { background: #1a4a7a; }\n\n  .row { display: flex; gap: 1rem; align-items: end; }\n  .grow { flex: 1; }\n  .field-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 1rem; }\n\n  .sample-wrap { overflow: auto; margin-top: 1rem; max-height: 400px; }\n  .sample-table {\n    border-collapse: collapse; font-size: 0.78rem; white-space: nowrap;\n  }\n  .sample-table th, .sample-table td {\n    padding: 0.35rem 0.6rem; border: 1px solid #1a1a4e; text-align: left;\n  }\n  .sample-table th { background: #0f3460; position: sticky; top: 0; }\n  .sample-table tr:hover td { background: #1a2a4e; }\n  .sample-table .hi { background: #2ec4b622; }\n\n  .config-output {\n    background: #0a0a1a; padding: 1rem; border-radius: 4px;\n    font-family: 'SF Mono', Menlo, monospace; font-size: 0.85rem;\n    white-space: pre-wrap; max-height: 400px; overflow-y: auto;\n    margin-top: 1rem; border: 1px solid #1a1a4e;\n  }\n\n  .badge {\n    display: inline-block; padding: 0.1rem 0.45rem; border-radius: 3px;\n    font-size: 0.7rem; margin-left: 0.4rem; vertical-align: middle;\n  }\n  .badge-oid  { background: #2ec4b6; color: #fff; }\n  .badge-date { background: #0f9b58; color: #fff; }\n  .badge-geom { background: #4285f4; color: #fff; }\n\n  .status {\n    padding: 0.5rem; border-radius: 4px; margin-top: 0.5rem; font-size: 0.85rem;\n  }\n  .status.ok    { background: #0f9b5822; border: 1px solid #0f9b58; color: #7fdb9a; }\n  .status.error { background: #cf664522; border: 1px solid #cf6645; color: #f0b0a0; }\n\n  .color-row { display: flex; gap: 0.5rem; align-items: center; }\n  .color-swatch {\n    width: 28px; height: 28px; border-radius: 4px;\n    border: 1px solid #333; flex-shrink: 0;\n  }\n\n  .spinner {\n    display: inline-block; width: 14px; height: 14px;\n    border: 2px solid #fff3; border-top-color: #fff;\n    border-radius: 50%; animation: spin 0.6s linear infinite;\n    margin-left: 0.5rem; vertical-align: middle;\n  }\n  @keyframes spin { to { transform: rotate(360deg); } }\n\n  .cb-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 0.3rem; }\n  .cb-item {\n    display: flex; align-items: center; gap: 0.5rem;\n    padding: 0.4rem 0.6rem; border-radius: 4px; cursor: pointer;\n    font-size: 0.85rem; transition: background 0.15s;\n  }\n  .cb-item:hover { background: #1a2a4e; }\n  .cb-item input[type=\"checkbox\"] { accent-color: #2ec4b6; width: 16px; height: 16px; }\n  .cb-item.checked { background: #2ec4b618; }\n  .cb-actions { margin-top: 0.5rem; display: flex; gap: 0.5rem; }\n  .cb-actions button { padding: 0.3rem 0.8rem; font-size: 0.78rem; }\n\n  .filter-tag {\n    display: inline-flex; align-items: center; gap: 0.4rem;\n    background: #2ec4b620; border: 1px solid #2ec4b6; color: #2ec4b6;\n    padding: 0.35rem 0.7rem; border-radius: 16px; font-size: 0.85rem;\n  }\n  .filter-tag .x {\n    cursor: pointer; font-weight: bold; font-size: 1rem; line-height: 1;\n    opacity: 0.7; transition: opacity 0.15s;\n  }\n  .filter-tag .x:hover { opacity: 1; }\n\n  .config-card {\n    display: flex; align-items: center; justify-content: space-between;\n    padding: 0.7rem 1rem; margin-bottom: 0.4rem;\n    background: #0f3460; border-radius: 6px; border: 1px solid #1a1a4e;\n    cursor: pointer; transition: border-color 0.2s;\n  }\n  .config-card:hover { border-color: #2ec4b6; }\n  .config-card.active { border-color: #2ec4b6; background: #2ec4b612; }\n  .config-card .cc-name { font-weight: 600; font-size: 0.95rem; }\n  .config-card .cc-detail { font-size: 0.75rem; color: #888; margin-top: 0.2rem; }\n  .config-card .cc-actions { display: flex; gap: 0.4rem; }\n  .config-card .cc-actions button { padding: 0.3rem 0.6rem; font-size: 0.75rem; }\n\n  .remark-pill {\n    display: inline-block; padding: 0.3rem 0.7rem; border-radius: 4px;\n    font-size: 0.8rem; cursor: pointer; transition: all 0.15s; user-select: none;\n  }\n  .remark-pill.available {\n    background: #0f3460; border: 1px solid #1a1a4e; color: #a0a0b0;\n  }\n  .remark-pill.available:hover { border-color: #2ec4b6; color: #fff; }\n  .remark-pill.available.used { opacity: 0.3; pointer-events: none; }\n  .remark-pill.selected {\n    background: #2ec4b620; border: 1px solid #2ec4b6; color: #2ec4b6;\n  }\n  .remark-pill.selected:hover { background: #2ec4b640; }\n</style>\n</head>\n<body>\n<div class=\"container\">\n  <h1 style=\"display:flex;align-items:center;gap:0.6rem\">\n    <img src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAAAXNSR0IArs4c6QAABBdpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3JlIDUuNC4wIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iCiAgICAgICAgICAgIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIgogICAgICAgICAgICB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iCiAgICAgICAgICAgIHhtbG5zOnRpZmY9Imh0dHA6Ly9ucy5hZG9iZS5jb20vdGlmZi8xLjAvIj4KICAgICAgICAgPHhtcE1NOkRlcml2ZWRGcm9tIHJkZjpwYXJzZVR5cGU9IlJlc291cmNlIj4KICAgICAgICAgICAgPHN0UmVmOmluc3RhbmNlSUQ+eG1wLmlpZDo4NDQxMTU4OUYwNTYxMUU4QjU4NkE4M0FEMjFFN0EzOTwvc3RSZWY6aW5zdGFuY2VJRD4KICAgICAgICAgICAgPHN0UmVmOmRvY3VtZW50SUQ+eG1wLmRpZDo4NDQxMTU4QUYwNTYxMUU4QjU4NkE4M0FEMjFFN0EzOTwvc3RSZWY6ZG9jdW1lbnRJRD4KICAgICAgICAgPC94bXBNTTpEZXJpdmVkRnJvbT4KICAgICAgICAgPHhtcE1NOkRvY3VtZW50SUQ+eG1wLmRpZDo4NDlFMzRGNUYwNTYxMUU4QjU4NkE4M0FEMjFFN0EzOTwveG1wTU06RG9jdW1lbnRJRD4KICAgICAgICAgPHhtcE1NOkluc3RhbmNlSUQ+eG1wLmlpZDo4NDlFMzRGNEYwNTYxMUU4QjU4NkE4M0FEMjFFN0EzOTwveG1wTU06SW5zdGFuY2VJRD4KICAgICAgICAgPHhtcDpDcmVhdG9yVG9vbD5BZG9iZSBQaG90b3Nob3AgQ0MgMjAxNyAoTWFjaW50b3NoKTwveG1wOkNyZWF0b3JUb29sPgogICAgICAgICA8dGlmZjpPcmllbnRhdGlvbj4xPC90aWZmOk9yaWVudGF0aW9uPgogICAgICA8L3JkZjpEZXNjcmlwdGlvbj4KICAgPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4KZ7icjAAAHP1JREFUeAHVXXuUnVV1P3fuvGcgw7N/WMjgqgWiaLC41AoykKAGXzy0BLRmUKOA4sQFCqzaxgjYFhUSa1GL1kHXKthWG1FAsZBJTCggaJRHeMhi1NW1angYIJnnzdz+fnuffb7z3ft9d+7M3JmEk3zf2WefffbZ57fP87vfvVMol8suKxQKhSz2fsG76NJSP8wemJpyS59/cYo2bce14eZvtA4ysT+GXJxzM/YzB3zislLvVNkJ8AC/B+A7pN0L6gDDfBeIDbgG4YxhY+4PcS7OuRn7iQMGLt/bB8BXlV25vwzQQQvwBJ/pF3bLCMjCeBDMG+GIIcT7POTinJuxjx2w5opSv3OFAQC+1ECnrUIHR5Tdi7vhidphv5iecnHOzdgHDgDoPah2DUBeBUx7CXa5XPC9XsFXHkYBhgDpF/dM6wBzzzCIG3Gtx6jgVLWgIRfn3IwFdMAnLtu7FNUNuILrB9wCrMAqDtBph2DLtBPxpsDcXb8DYsAHkeCizdGxICEX59yMBXDAxz5VOgO7rQFU1Wd7LlYrvRyOkP8ayXwPUkeDn4Jo++4RcmcdhlCSjtg4aw11FszFOTdjnhxw4SWlHtjcD/UDwLoXvd5ZVRZ77NMOoCMAuDgHtI6GstszNwcYfMMg/O6pbV6mp1ycczMCGmbj3OKPrJnshcq10IJe73oKgnwafPgiBAGbKb8GAPoAPp3QYAdIvRiNBJ+jYR1GxbAwG3TLxTk3o0EO+PDAJKeXtcCbMRCX/1GvF66kLV9sYo+HOMFmsJ4fx1wDRka9gIrN+R4dQIegjI5gPOeQi3Nuxhwc8MGLJ9HD3RkAey3iXrEeBP5nOECZVh3jBHTt9ZQIwMf0/DqA1TIM41qHayOcMevpKRfn3AxDBDXXG87/+GQvZLmo9iOmE0IwdbVjTEzBAdngh4WZI4QOGJu3ERBs9wTBH8TFRXsY8YxCLs65GYZUHdWsugjTDLeROr+HErEKcQZuqRiSJhPHYQRQkwAtkdIVa8FoAx2gNoiFoQ05BNcJOmIoJ7+KnYtzboYhUqUqYXzgwsl+pNjjl5IbF4lpyfO3xAFANuUQTTBf+rS/ydTDsnQEI7lpTHJ0LPdRBEvVCGJJKr/SZt9dUjIVie1I0xGDFfyqZC7OuRnV1ojS91+A3Qy2kUjw4JRMM4qfyFQXLXvn6BRDIR640g4QJlhyFFO0wSLIVeCThQzaPjYuEpSaYah2ABWkbc+WyaiI01PNh4C5OOdmpC1x7/voBMFei4rW0MpgmicsHRdLaAVJZEyQjWVLcKuMFfU0+CknIKEOcLN2QLTboRWZoR6ZjIKD4HFUcHSEkItzbkaCnnvfRyaWAqWN0LaYGhUwuSvtmcphAjIhQfAxAtJMnyaT+iADgSAj/gLImi2eEC2eYeAzY2YjIBgV2WeVqCWpVNKImF0vPQRBPo0dZIFcnHMzfOXnEXznNsH0HipSlEIEQhsVmgYiphU9m4J8XtSwNPhSgxTxlDoBwJszCD5T5oTxCcuxEtPF3t5gZCyfZs5yBMQKSQ/juvGmG1o+i7gqNFVxIsZ5qycI+iZcPWymb7sQSRoU0JA8lmWyQlbYKqZ5lJeLsnCB5fmCVp6x6ZPYM0SeeTMOaYBnXHx2BXpRbG1e0ea8DPLR3vW46ULrbScGQnqCEUOBgAqB9cEz8RQhAGhN98UoicGjPZm08HGzMqKEaWZ6J5Hi42ly6QQGizU13Z0jUS3JKkd7fOumU9Sw/FwHnLt6ohe1rGJN0lbcbOaQNPgGND2S8ACOTUtgWkPFPZBjGZEVHBUM1iEhZCJFIZP12lO6mC2K5CbFa9+srix5y6MGy495tTXPJTfXAVDKg1UqsMFilrctmBoINZ+jgcEcIUmUCfgGOilIn/liqTqpUflaqZTAzUpWCL/kkrkOQKP72Brr9dYyA0DgUEwCGDYiZJZgWSiRuR4SCfgxDSEqpB5TDDIOR/5pwR37503u0EOaHOk47Hh8yv3fH6bcw49Ouaefnc2BzPSpOzm9Je01w+IaG0/nOgBVcfcjvS8xKjHA8JIm+HYEkz3ByOQIj4iBQQcZTSKsH94TnZ0Fd9Ibi+5tpxYBvEgmFUcUHWNh+HdT7tafltzQ1pKxojgBNmuUxe1jfpyOlMwLibYLRFXKz109WZVRy7DKPIONc3+Z75AweKZGbGlgaT4Yb1vW7M56Z7Pr7PCsGUZPP1N2//zNcYyKvUGnqUjbaBYa4EmaVlFWF+yYb5pmHmMbmqmo1gioqsV8lW6IiknPIemrCd7zBKN4ihIxMCUbia6OgvvkRa0y3ajG2d0PO7TgPntZu4yEwZsm8ImZ6smyeXY1NLbUjBxgVecNUwETNwE3OMIvokgzX8riFtYJ8BZjbv/bS9scp55Ghb4Tm13vkU3uW/82kZpS6BBOV7SmcksaOymvjY2yz/TMygEsTAMZYqOVo0ATbYETMach/pfLO4I0T8FHAqRGg2920AHrLm+3ZIj5OfIjWLiHtpXcz39pizc7iq0VNLZxnSFUnEHM2gGmazpHSL60h4gb+mxf2XVg2rnw/Na6e/7w76fcCMDrRDmCO9vQhZH2utcW5eKaMXjTJBzBNSMN/EKMgjk7wEDIcwSblCz0TDEt+LsLP9jqFh9RG8jN0kvZU6PdjapxJxzf7E4/rcW98pii6J3NjWvGpy5uFQdc/81JfMasWngq5hRlI9zaN5s6apVpmAOskqxeI3gRdJ13pFFLjkYPPD4fOM7TX/zKKPb3Hm1GnBUQe4445Z77J8UBH1/d7g4/tLYzzcasmLasvazgPnfNROQEVDnNTDRXx8ze4qxWeB6NSgwjXJxfy/oqibxSWHbvfXdLroahrZPu02v3uJ1PT2ELq2XlQAeab0IIHcUP7Si5Sz6zxz31O9t65qqumdGL0bj2062uq1OBJ/h2NUW08SrjmspzMufFAVaXOMG6q/RbgIdM9n5eWYE9//p/HZMs7zoFnE70OtS7yA0V8AWtKfd3n5+7EzglXvKxVgUeVnAAyIXbdE5oAprmlKy2ZfEaPgVVViIg2kaDLUHoe1N+tdd8eVReQ2Srbe1gMephCLQxlC137m7+cf2I+9JV3ZK+7xdYO34xGc4CZL7+L5ox9TW7w2pMV0uObnIrlje7n9w15QpEPVVXlCBJgyxUpj1f+onJVMT5SFQIziWpPRca+DobDH7da7Or5dSz8xk/jcBp2lS9s36jLBZe1Dr2Ppa/5DMvIuYiqj2SclhOpe4dj+91//GDCUyBbbKAMy8rnP2OZrft3kk3ykUZRZOQSkhWaF8iVDc1r1NQpRUEjvMst4FZ4d4HJgVlYhqmGwiynIGuccyp1rTzGfRc7mJCKcgo/qKJW9kbbx5zX/VTXbUGh62xc2/G86hCNK3QodnTEHdLdqm/Us7Pbq5UuyAOEEB9T6019B/aManTjpe1cqmFGMw4nbjHnGJxBawsV8HafHfJ3R9vbyvy33Jqk/RwA7NmjLKaHzmCTvdXheqQnHcH6DxuTS/XPEBxIcU+Ry95gKePDAid6BHHKJCqV/ODE3y+ti6pU/KlFyY87ZRl9+3vjgcwKolDD3ZYKwhoAmT9dNoRlbotPe8OsIoIWN+JLe4db201VlVM/OzicsFvweg3YdQBsgVlhu/LKbwDl2oVaHGVCBnPymrMKYqfI/wWJ+y8cMwrqh0g0xAKTOsMkVFH5OnPXg3zpGfJ52ODi3FQ6j0ye+tpatnbnsb8nQ4KpvGY0t6rnMq0YE9kCDwjk2eSfHIshgA5jzxWwok8u2MceogX1+pmd6cROWHeR8Db39LivnRl17Tg075XHtMSejyB4qghjhqzFXrp9GNp5vssi4SBRFaokOUoqfWK+/HHFTIPZrm9H3Vm5WWZQt68OuCC84tu1cr6B9lxx6qsgk7zIrQs6eMEdJVJphtS+i/xTCQjH0pomlMQR0CtcMTLCu7SjxdrOwEKqkCv4OXVMW8OIPgn/2X96rkD+sPTe1M9nuuwduYEQBkNBBgZdpmjBPbgPe8Ek0XslQML6kvC4iNqT410wiUfoxNsYa1eF6ocAM8KD9Uwzgv1d888DRn8D5xTH/h81nPT90bcvQ9M4NuO8dxPcFWxgpz0MOOzTfahTsyTLo0Ws5y2WyQ9ClRaiUbaGRnNERad0H9uk/vqt9grqCbWY8ZmqAerVg0Nd8AJS3mMn77n//DHYwJ+AnwCepbJ5ogmgmuNAiEweCykoZLJUzDkhE8Geiwipsni2PBFJO+660fcyW9qdWe9o1XevgAzM7zmVXgPH9evHtLyUp9IJtrEdq0y0ZEIJjxPNdQBPD1eiKlnurDh67vdXVvGpZeqbB74CV+aiBu3ogyWllTUwJgvoBN8ECzGPIqKc6gkcsSWuyfc1nsm8TZGqzvz7XSEaBKp+PbeM5rcrx+u9dTVyvk6LRkrieiGOuD05UU5wkf6q0j2/Ds38/CjqLFna0jAtrykMPKY8KIc/XGaWTYjqAgFQCGiE3oXNwvow/K4Gr1XhVhKlTIS2rltcMLd95XcSW9oce8+vcUdcrBkUkDCIQc59xrsjH6NUSCBUVpEbIPbkREqUtmMe0MdsGJZ7annqd+W3A3f3iOGKe4EPTHSaH1HU601OaYMp6hIaHuiRctR9lXHtrqVZ3dLTO7Dj066f984gn0/njkhKEQKVQKW1OK2wQk//6XDWxrNbsVpBfeKlyuf5d54QsE9+HBljcyJArOtpyQejwSUbJgDuOPhFFQrfOM7Cj4bK7YBSYtZzoAPjhAebpBje6TJuAkUHg/hIc86G+E8bkmrO/c9CfDMZuA5Y93li8QR//mDUbfj8VJwoI0gMkjb9Zunyu6f/qXs/gwOOH15QWI6I8iraqlf1hga5G1jliYjhsn7uGEOOPbo/EpYF3c83GpOF+LeHRpC1R5pqSWqKm7v8pM7MW10uaMW53/axvrpCF48AX/vh6Pu0Sd0TjfQg42ox4B+ko64AY44quBOPtE7IK48FMogvO0ZOa5hDlgyjQO41ZxJsIazTJ791n4Cf957DnCHHzb9BiC2YcnRzfhk7gAZCf9167h77AndCqsjCnj0TKAjb6MwRwSvCnastmo05NnPQg1zwGE5uwaz7ME6er/JJk3mfl65wksypJHL+zrc+2YBvNVjMed5XhwJt9w24R5/Ep8nIFOuuE4pEDMqoLUeYYoZZ/Gi/IY5INKZSe6p82dlkp6lDQ3NDYRzy05uDPCVhh7ziqI7ZqDD/f5/p9ydW0rugV8lU1ClrKa9UewlRiJDSLDs3JE7hCHbEAcsPiJCJ9vSurnUhAGeyEfkcgA/m6kmUVYfdcTLmnDqbXXvWuHcHXeVsRtiN0bI7c1mpJdT6dpFvExDHPDb31dXHNkQkQpvxEiR1vu5k4l3QuzxCwF8yhgkDsY35FaeVXBvPbXg7tgER/wiamelMySN9mE0pHo+WZWKo3TtjXskOFfyuCUtYT63nyHjYNU5npAz8G48UEi+C7uaNRf2zHiBFXUNuh0ER5xzJl9n1N0P7QoXLVazPU/bksqvYUfDHDDdKDj1pDZvBq1l0NgM9cngJJO65fY97oorn3MPPjKzXZTW0Zj7A9vL7u/XTznGTTDMbK6K2SrJ99ZHsnmWNGQKovJHHivjUyVfcUZthx/WhANSC4CcFCO158eCLBvN/l4Vh++DD0+4Kx5+1r1aDlgHyEErLjlf9P14c/rOLc79cZef/q150fQjpE/HtHQwTkc0zsplGNowB2y+e2rap6ADH+12A1fsSv3MmH1MGBwSjCUBh0gLtBEP7phwD175rDhg2Zs7sBua5uid0eB6WPfcX3K3/3Qvfo+u6Fpb8GqKmAJDgm1eiyCe1iiswNc21FoEGjoFcRTUChwFAxfoW2t5cjRZH0l4XfAA03HbH8J0tOHrz7sPDexED/WvM+cpnAH/f+6bdH9z1Yj7zs0T7rldrJe22MX53y4a6fnUT5qR58XGahkKZYeGOYDqv/fDWo9p1YA3nNDqrv7MItfVpQsaudb72YjYeElKy/wUYNki6NzT+ATty1/d5VbDEXfNwRF8A+7ydbvxPYFx99wf4XgPpAEax5pXvdAK39uXkmcjaoQZfUmvhp6Q9Z53Fd3Z75zer3yP85bbR+Tib38q+NrrwxbUA82ZVKciIhOqUh7TnvcneBSx8qxudyqmp3rC1nsm3A9uGxPQm/BmbVOx4IpYZZtwFZFua2+WKYi6rJPEsczwMJk8ubycyFTw1n+ey3d1aLgDWMVMPw/mwvwQ5ved6NH8XJgBm1HZenLe37nTfzmDXcsHo2zPbWkOeT4TWnlWlzvlpGxHbLl73G28ddQ9i96uYCvodII4QBwBB7TBAa36fCkGniYkoBPpKK3JJN/nLagDaCA/F67no0nKZgU6Y8PXX5AdENcAtEOCAW29nsyYJ8OfPO+Ic87sxgth+j2xzdvG3Pd/BOCf0+0kwdcLwAP04IxKB3hQWVfo3Z5WR6h9Ic+DHpyE9HULOQJoKAOfkHI0TPegTqX1zkfW3Pvfc7++MmjgmgskbUwUidOkJY0ZkLO0OAM3iQk2CIJM5xj4NuWkwccUVIxGgDnAxwFo1JeADAsN+BRfZa67OnsKatg2FHVWBe6KLrp0xL321WX3eiy+R+HNuKMWpx8Zs6fzkzI+Lb0XoPP1crRDgoEradwszczDDy26c/FpF+d7lrn5+7vdJi7EJmQxZGUnwpgFEcQhSDDNL/yddkqbW96HLwuCvveBkvvJnSW364VETgrZjcagoNkkbFMcyxg9TTwva0BcZ6k06SYn7QVY9hIxXWICwaZ4FoDxeeDCMEWIEkJqmvP7uTkLLR3x3e/vwTObcX3bDfr1mT7B9L3fj4Ru7MLeuqzdvQXgE/jKwG9Nbtnm8LqMbihomdgJgrGlhTYeEum0l0X+tftiBGijaKqnPEkj4yCOiJgx+GxpE26vwin4nW/rwkiyRxqxBqU5Ki7+yIFy0Lv1jhF32x2jwRHS6yHWhXV5xfJ2AT8LeNPKL+297niHV1Acvk/s3C6cC0LPp1BFG6xciKt9GrJiYgFGwARGAJ/jWE/X2Hp7uiXaKtoOKbHz5Xij4UN/fUD4YD02fjqaW93bfjrqbv/vUZl2Tj+tw61Y1lH395Jj/dvhiM1by/pYAqalejoE+dI2R3eKH8lde9U+WAPYgAK/YiJBYSWpU49yJY2upYBz6WQg+Ep1dTXN+kkoXyV877s73dsB/Fx/BqH3CIyGRXgu9HzKPBor5qq12kZaX2+Y10WYRjQ18VkKHzHr0d5+ckwB5gFMTWeabmBSjmWUR3nuilavecYtw55+5dldsvjW2ziTmwv4z2Mx3owpiCOAvVuC4mzqq2JrkYlXCUSMeXeALn5Ft3cvD1PcAnKYWgsQ2x4/tA5iHnzxAN2Bltz1s1G5uOvhIYvz/XwGAr/lbl0DYtMaXee8O4AGNzfzvf9S0oNkigH2UVcR0qfTNFLiJB0rm3425nidelK7O2ceHMFnQXdsKuED+qJrxlkgBHbn+AoZ1YSJVedUcxbEAZyGisUWxy1pOtBUjgvePPrsbp5WDkYM0ypKSZEXR2yFI3DK/asGOOKJJ/e6+3AG+Pn2KdeBRxCdndh7+ToZ6xol1euNef7SfJXxRSJBIbdXMiy9IA5gZc3NrRgFe+UihLoLIrAwWQBX02W9SKENWUPC+0iMB801Y9PWUbcJjxhOgSPOObMLX6qb2dT0+G/2uh/dMe6efGpKTsd8/t+Oh3BWJesS8GFeAjR5ySX2xAxtirD9bShOxPSCOYDAtrZ2uImJUawHfOBGNGGp7+00SvA1dmCQQJDMSCZmgh7CaBjaOo4HcBgRZ3RO64jHnii5W3487tjz5TEEn/9gyunu1u+K2YGR1QieuDEWxwjBnBrBZBjrD3tnCs/7OaCy1il87WV8nL8jZhaaBBZbD7KOCuMTdPZBXQOyHGHFmEcdlOw7sU0ewi05Ov2a4qN4H3QjHkGz5+Php4CvDmhyPYvaMVL1u8FSOxXDTMGwIpbRQJ7n550BUHjw2quL58cOTVrWoPeCYoXT0Xzk29bWiZEwAuOladJKD6/wjKauFPheeQBc8hMm+XJh0d68bRy7mHF5B3QFzgHk/+Quvn6IF3Jhgx6LtARH56ID22UEBJOo1psXrLQ04io55sUXy+MADdYnlcy+15qC1qHIKly92UVnz6UTWlraZTpSqwEEsUAQ8LnvFNrfmSYrEcunTRE1QX4HXsB99PHd/icH9ImoVOXrYw3d3e0YCcmiS15Q46sWnqcNfMZ66RJNE3lJKDt8lO9Oue7qIuPckDsFsVcwrPzwRD+iVbj6cDU0TE1NYjoaQ1thdgAkNEFZEfisXB0UiaNcKEpa0gq+0LjFsTyGpox/KHcgen5He4uvS5sn+uSGNMwJFnk67QC/P2KeXfhdQNBnXntVMex+ktGuddh9WgeYIByxFDR/zrjfeHONCUypNB49LTWNegoWVNj6MCKInMpIlCSFT57wMbfTUTHwRtMBpPmUlD2/qwu/DcRyUjCtW1IedM1RkElbz09odRT468Fb96Ur0z1/zg5gRQxwRC+iflx0Rg+uWQcFxclUpGcEwqY9SvDwoFTyAlYgjA4AgkFwxQXMl8uD7sHn6O7saHEHHtCOfMqmHVCZJtgWjCagwqaDMN0g2gCZwS9+rjhssnHcMAfESv30REdwdMw4KDgK4vj4qCvJ44qo90OjgE8Q2VrFChEZIZmiTSeZmNalEHlcdAk2p552HLQWLdKFmXkiZYQkEt0GskoRbOEY+NsJ/BfWFQctPy+2cpX5dU9BlQXjNBzRhzQdcUbMr4dmu+VCk0bHRnBQ47v5aJYBAyXsa5KkLCn9r+ozaAGafFwMNu2wbAsOWgf1dAqPeSZjMXnUr5Efe4q58IQsy59z2XDNuuKQMOu4zasDrH4/Pdk6Udf0JOAHsOCEUW5P/TdVoDgGn/UINpS3So22mDKkcRNQcbNPxXjQOvigLnWIV1alx/NNvcTqgF2gB3ER+GHEMwoL4gCzCI4g+BwNa3H14soNCpYCSnoK4I9hJNDgAI4fESENotZI0KkncQKdQSf09HS5Fhy0qFh0RTENFF6KELOHcV+HayOmGjphVmFBHRBb6KcnOqIv5sd0cAIBwcURwJEAQlHxsQBEGSmsRJqn5Qk4g+nlHr9nUSdOufhsQjK8DlVhCisdMITsdV/4XP3TjFSac9tnDjB7/PRER3BkcISEYEBJDC4BLO3VM0JwAvksEYEm6ZjHbOZ7QaO7uzuw19dnPJpnMqLO3yTaBf0boYbbyGGqblTY5w6whvjpqR9prhW9uCQYWEkMJ+Dx9fiYvmriMVVZ3gm0xDIZCd94wvdnAe7129tw0BImyngiSUvRYWRvQPlBHJ5mPc2oEdn3/cYBsXlwBkcDHdGXAK/AClBAZWKCBzX8BD0L4iZxTGfwVBe2m+j1nZ1tUkYAj2S9I4bA37D+80X2+nkN+6UDrMVwxFLQ8mdwU45AgoCPT4y50iQ+zDEALaYCoy0mC3RbG3+CmAetahnwBsHd8OV/aN6OeEHCfu0AQwB/OqsH4KwBZqsAbC/BY09lPIZFeS8+0CGeevMRZYQnd6G51+/u7pRyJo94GHpuhOj6r1zTvItFFjK8JBwQA4I/HtoP0DAqCvw7lvjPgxp/1hhnBElDGjGDRJ6nH6rgoCXek7ztIDdc/8XmQRHeR7eXnAMMp/dfMNEHJ6wCvv08lokTsE010ClnNN/p78ZPn/NxA0AfBP/Gr13bPESZfR1esg4w4PDHo3tB9+OgNoDnRj08mxF5AZ8kdj2dHR278ImWPBS7YX3LMNj7TXjJOyBG8rzVI/0TkxMDAN9PT247Ft0N3/la52Astz/ReQ74f5T0k65TjEZHAAAAAElFTkSuQmCC\" alt=\"ArcGIS\" style=\"height:36px;width:36px\">\n    <span>ArcGIS &rarr; TAK Configurator</span>\n    <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"36\" height=\"37\" viewBox=\"0 0 94 97\" fill=\"none\" style=\"flex-shrink:0\">\n      <mask id=\"path-1-outside-1\" maskUnits=\"userSpaceOnUse\" x=\"0\" y=\"0.945618\" width=\"94\" height=\"97\" fill=\"black\"><rect fill=\"white\" y=\"0.945618\" width=\"94\" height=\"97\"/><path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M67.4406 75.7215C62.4986 82.5493 56.0519 88.9103 47.6436 93.9565C47.554 94 47.4195 94 47.285 93.9565C38.8841 88.9045 32.4414 82.5448 27.501 75.7215H4.61428C4.21088 75.7215 3.89712 75.3298 4.03159 74.9381L11.6514 49.4352C11.741 49.1741 11.9651 49 12.2341 49H14.9555C11.3377 35.9713 11.272 25.3308 11.2928 23.4971C11.2928 23.323 11.3824 23.1925 11.5617 23.1925C27.5632 21.9304 45.0887 6.04547 47.2402 4.04354C47.3747 3.91298 47.554 3.91298 47.6884 4.04354C49.8399 6.04547 67.3654 21.9304 83.367 23.1925C83.5014 23.1925 83.6359 23.323 83.6359 23.4971C83.6566 25.33 83.591 35.9724 79.9773 49H82.7395C83.0084 49 83.2773 49.1741 83.3222 49.4352L90.9419 74.9381C91.0764 75.3298 90.8075 75.7215 90.3593 75.7215H67.4406Z\"/></mask>\n      <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M67.4406 75.7215C62.4986 82.5493 56.0519 88.9103 47.6436 93.9565C47.554 94 47.4195 94 47.285 93.9565C38.8841 88.9045 32.4414 82.5448 27.501 75.7215H4.61428C4.21088 75.7215 3.89712 75.3298 4.03159 74.9381L11.6514 49.4352C11.741 49.1741 11.9651 49 12.2341 49H14.9555C11.3377 35.9713 11.272 25.3308 11.2928 23.4971C11.2928 23.323 11.3824 23.1925 11.5617 23.1925C27.5632 21.9304 45.0887 6.04547 47.2402 4.04354C47.3747 3.91298 47.554 3.91298 47.6884 4.04354C49.8399 6.04547 67.3654 21.9304 83.367 23.1925C83.5014 23.1925 83.6359 23.323 83.6359 23.4971C83.6566 25.33 83.591 35.9724 79.9773 49H82.7395C83.0084 49 83.2773 49.1741 83.3222 49.4352L90.9419 74.9381C91.0764 75.3298 90.8075 75.7215 90.3593 75.7215H67.4406Z\" fill=\"white\"/>\n      <path d=\"M47.6436 93.9565L48.9537 96.6553L49.0734 96.5972L49.1874 96.5288L47.6436 93.9565ZM67.4406 75.7215V72.7215H65.9087L65.0104 73.9625L67.4406 75.7215ZM47.285 93.9565L45.739 96.5274L46.0339 96.7048L46.3613 96.8107L47.285 93.9565ZM27.501 75.7215L29.931 73.9621L29.0327 72.7215H27.501V75.7215ZM4.03159 74.9381L6.86904 75.9122L6.8887 75.855L6.90603 75.797L4.03159 74.9381ZM11.6514 49.4352L8.81392 48.4611L8.79426 48.5184L8.77693 48.5764L11.6514 49.4352ZM14.9555 49V52H18.902L17.8461 48.1974L14.9555 49ZM11.2928 23.4971L14.2926 23.5311L14.2928 23.5141V23.4971H11.2928ZM11.5617 23.1925V26.1925H11.6798L11.7976 26.1832L11.5617 23.1925ZM47.2402 4.04354L49.2838 6.23981L49.3072 6.21809L49.3301 6.19587L47.2402 4.04354ZM47.6884 4.04354L45.5986 6.1959L45.6215 6.2181L45.6448 6.23981L47.6884 4.04354ZM83.367 23.1925L83.1311 26.1832L83.2488 26.1925H83.367V23.1925ZM83.6359 23.4971H80.6359V23.5141L80.6361 23.5311L83.6359 23.4971ZM79.9773 49L77.0865 48.1981L76.0319 52H79.9773V49ZM83.3222 49.4352L80.3654 49.9428L80.396 50.1209L80.4477 50.294L83.3222 49.4352ZM90.9419 74.9381L88.0675 75.797L88.0848 75.855L88.1045 75.9122L90.9419 74.9381ZM49.1874 96.5288C57.9792 91.2525 64.7173 84.6005 69.8708 77.4805L65.0104 73.9625C60.2799 80.4981 54.1247 86.5682 46.0999 91.3842L49.1874 96.5288ZM46.3613 96.8107C46.9232 96.9926 47.9215 97.1564 48.9537 96.6553L46.3335 91.2577C46.7985 91.0319 47.2172 90.9891 47.4811 90.9891C47.7619 90.9891 48.0063 91.0367 48.2088 91.1022L46.3613 96.8107ZM25.0711 77.4809C30.2225 84.5957 36.9559 91.2456 45.739 96.5274L48.8311 91.3856C40.8123 86.5634 34.6602 80.4938 29.931 73.9621L25.0711 77.4809ZM27.501 72.7215H4.61428V78.7215H27.501V72.7215ZM4.61428 72.7215C6.04954 72.7215 7.47306 74.1528 6.86904 75.9122L1.19414 73.964C0.321181 76.5068 2.37222 78.7215 4.61428 78.7215V72.7215ZM6.90603 75.797L14.5258 50.294L8.77693 48.5764L1.15715 74.0793L6.90603 75.797ZM14.4888 50.4093C14.2059 51.2335 13.3756 52 12.2341 52V46C10.5547 46 9.27614 47.1147 8.81392 48.4611L14.4888 50.4093ZM12.2341 52H14.9555V46H12.2341V52ZM8.29296 23.4632C8.27036 25.4601 8.3451 36.4066 12.0648 49.8027L17.8461 48.1974C14.3304 35.536 14.2737 25.2014 14.2926 23.5311L8.29296 23.4632ZM11.5617 20.1925C10.6759 20.1925 9.72009 20.5521 9.04467 21.3718C8.4353 22.1114 8.29277 22.9335 8.29277 23.4971H14.2928C14.2928 23.8867 14.1951 24.5564 13.6753 25.1872C13.0896 25.8981 12.2682 26.1925 11.5617 26.1925V20.1925ZM45.1966 1.84727C44.1838 2.78966 39.4012 7.13848 32.9449 11.3899C26.4094 15.6934 18.5508 19.6319 11.3258 20.2018L11.7976 26.1832C20.5741 25.491 29.4791 20.856 36.2446 16.401C43.0892 11.894 48.1452 7.29935 49.2838 6.23981L45.1966 1.84727ZM49.7783 1.89118C49.2213 1.35045 48.4157 0.945618 47.4643 0.945618C46.5129 0.945618 45.7073 1.35045 45.1504 1.89121L49.3301 6.19587C48.9076 6.60607 48.2589 6.94562 47.4643 6.94562C46.6698 6.94562 46.0211 6.60607 45.5986 6.1959L49.7783 1.89118ZM83.6028 20.2018C76.3778 19.6319 68.5193 15.6934 61.9838 11.3899C55.5274 7.13848 50.7448 2.78966 49.7321 1.84727L45.6448 6.23981C46.7835 7.29935 51.8394 11.894 58.684 16.401C65.4496 20.856 74.3545 25.491 83.1311 26.1832L83.6028 20.2018ZM86.6359 23.4971C86.6359 21.8847 85.3687 20.1925 83.367 20.1925V26.1925C81.6342 26.1925 80.6359 24.7614 80.6359 23.4971H86.6359ZM82.8682 49.8019C86.5836 36.4073 86.6583 25.4592 86.6357 23.4632L80.6361 23.5311C80.655 25.2009 80.5983 35.5376 77.0865 48.1981L82.8682 49.8019ZM79.9773 52H82.7395V46H79.9773V52ZM82.7395 52C82.2509 52 81.7745 51.8494 81.3693 51.5596C80.9532 51.2619 80.4996 50.7247 80.3654 49.9428L86.2789 48.9277C85.92 46.8369 84.035 46 82.7395 46V52ZM80.4477 50.294L88.0675 75.797L93.8164 74.0793L86.1966 48.5764L80.4477 50.294ZM88.1045 75.9122C87.8609 75.2027 87.9621 74.3756 88.44 73.7162C88.9247 73.0473 89.6686 72.7215 90.3593 72.7215V78.7215C92.8175 78.7215 94.5982 76.3492 93.7794 73.964L88.1045 75.9122ZM90.3593 72.7215H67.4406V78.7215H90.3593V72.7215Z\" fill=\"white\" mask=\"url(#path-1-outside-1)\"/>\n      <path d=\"M47.6567 93.9565C83.3353 72.5445 83.6938 27.4575 83.649 23.4971C83.649 23.323 83.5145 23.1925 83.3801 23.1925C67.3785 21.9304 49.853 6.04547 47.7016 4.04354C47.5671 3.91298 47.3878 3.91298 47.2533 4.04354C45.1019 6.04547 27.5764 21.9304 11.5748 23.1925C11.3955 23.1925 11.3059 23.323 11.3059 23.4971C11.2611 27.4575 11.6197 72.501 47.2982 93.9565C47.4326 94 47.5671 94 47.6567 93.9565Z\" fill=\"black\"/>\n      <path d=\"M47.5223 89.5609C81.2735 69.4545 80.0633 25.8037 80.0633 25.8037C64.6444 24.7592 47.5223 8.39555 47.5223 8.39555C47.5223 8.39555 30.4002 24.8027 14.9814 25.8037C14.9365 25.8037 13.7712 69.411 47.5223 89.5609Z\" fill=\"#E6E6E6\"/>\n      <path d=\"M47.5225 89.6915L47.4329 89.6479C29.9522 79.2466 22.0187 62.4042 18.4329 50.1315C14.5334 36.8578 14.8023 25.8907 14.8023 25.7601V25.6296H14.9368C30.1315 24.6286 47.2536 8.39553 47.3881 8.26497L47.4777 8.17793L47.5674 8.26497C47.7466 8.43905 64.8688 24.6286 80.0187 25.6296H80.1531V25.7601C80.1531 25.8907 80.4221 36.8578 76.5225 50.1315C72.9368 62.4042 65.0032 79.2031 47.5225 89.6479V89.6915ZM15.0712 25.9342C15.0712 27.1963 15.0264 37.5977 18.7018 50.088C22.2876 62.2737 30.1763 78.9855 47.4777 89.3868C64.8239 79.029 72.7126 62.3172 76.2536 50.088C79.8842 37.5977 79.8842 27.1528 79.8842 25.9342C65.2273 24.8897 48.912 9.91874 47.4777 8.56962C46.0882 9.91874 29.7281 24.8897 15.0712 25.9342Z\" fill=\"black\"/>\n      <path d=\"M47.0294 41.9062C45.4158 41.9497 43.9367 41.8627 42.592 41.7321C36.0928 41.0793 32.3277 38.8598 32.3277 38.8598C33.8965 38.5551 36.8996 38.8598 36.8996 38.8598C28.6971 38.1634 27.8007 34.2901 27.8007 34.2901C29.1902 34.2901 35.8687 35.5087 35.8687 35.5087C24.7079 31.9836 24.2597 26.1083 24.2597 26.1083C24.2597 26.1083 29.0109 29.1983 32.2381 30.0687C35.4653 30.9391 42.8161 30.9391 43.5333 34.029L45.9537 28.1538H50.7497C50.7497 28.1538 51.8702 28.0667 52.3184 30.0687H49.4946L51.422 34.029C52.1391 30.9391 59.49 30.9391 62.7172 30.0687C65.9444 29.1983 70.6956 26.1083 70.6956 26.1083C70.6956 26.1083 70.2473 31.9836 59.0866 35.5087C59.0866 35.5087 65.7203 34.2901 67.1546 34.2901C67.1546 34.2901 66.2582 38.1634 58.0557 38.8598C58.0557 38.8598 61.1036 38.5551 62.6276 38.8598C62.6276 38.8598 58.997 40.9923 52.677 41.6886C51.2427 41.8627 49.6739 41.9497 47.9259 41.9062C47.7466 41.9062 47.2535 41.9062 47.0294 41.9062Z\" fill=\"black\"/>\n      <path d=\"M47.1639 42.7331C47.388 42.7331 47.881 42.7331 48.1052 42.7331C49.7188 42.7766 51.1979 42.6895 52.5426 42.559L50.929 45.3878L49.0016 43.9516L49.8084 46.0406L47.4776 47.5638L45.1469 46.0406L45.9537 43.9516L44.0263 45.3878L42.4127 42.559C43.7574 42.6895 45.2813 42.7766 46.8501 42.7331C47.0742 42.7331 47.5673 42.7331 47.7914 42.7331\" fill=\"black\"/>\n      <path d=\"M90.3724 75.7215H4.62746C4.22406 75.7215 3.91031 75.3298 4.04477 74.9381L11.6646 49.4352C11.7542 49.1741 11.9783 49 12.2472 49H82.7526C83.0216 49 83.2905 49.1741 83.3353 49.4352L90.9551 74.9381C91.0896 75.3298 90.8207 75.7215 90.3724 75.7215Z\" fill=\"black\"/>\n      <path d=\"M47.6568 9.61412H47.343V26.1083H47.6568V9.61412Z\" fill=\"black\"/>\n      <path d=\"M47.6568 76.8965H47.343V88.2988H47.6568V76.8965Z\" fill=\"black\"/>\n      <path d=\"M36.541 54.7447V57.7911H33.3587V69.8898H28.0696V57.7911H24.9321V54.7447H36.541Z\" fill=\"white\"/>\n      <path d=\"M50.5255 54.7447L53.5734 69.8898H48.1051L47.8362 67.148H45.9088L45.595 69.8898H40.0819L42.8161 54.7447H50.5255ZM47.7017 64.4932C47.4328 62.7959 47.1638 60.6635 46.8949 58.1393C46.357 61.0551 45.9984 63.1441 45.864 64.4932H47.7017Z\" fill=\"white\"/>\n      <path d=\"M69.8437 54.7447L66.7958 61.5774L70.1575 69.8898H64.6444L62.4929 63.4052V69.8898H57.1591V54.7447H62.4929V60.6199L64.8685 54.7447H69.8437Z\" fill=\"white\"/>\n    </svg>\n  </h1>\n  <p class=\"subtitle\">Paste a Feature Service URL, pick your layer &amp; fields, generate config for the sync engine.</p>\n\n  <details id=\"takSettingsPanel\" style=\"margin-bottom:1rem\">\n    <summary style=\"cursor:pointer;color:#2ec4b6;font-weight:600;font-size:0.95rem\">TAK Server Settings</summary>\n    <div class=\"step\" style=\"border-left-color:#2ec4b6;margin-top:0.5rem\">\n      <div class=\"field-grid\">\n        <div>\n          <label for=\"takServerUrl\">TAK Server URL / IP</label>\n          <input type=\"text\" id=\"takServerUrl\" placeholder=\"e.g. 172.93.50.47\">\n        </div>\n        <div>\n          <label for=\"takApiPort\">Mission API port</label>\n          <input type=\"number\" id=\"takApiPort\" value=\"8443\">\n        </div>\n        <div>\n          <label for=\"takStreamPort\">Streaming port</label>\n          <input type=\"number\" id=\"takStreamPort\" value=\"8089\">\n        </div>\n      </div>\n      <button onclick=\"saveTakSettings()\" style=\"margin-top:0.5rem\">Save TAK Settings</button>\n      <span id=\"takSettingsStatus\" style=\"margin-left:0.5rem;font-size:0.85rem\"></span>\n    </div>\n  </details>\n\n  <div id=\"savedConfigBar\" style=\"display:none;margin-bottom:1rem\">\n    <div class=\"step\" style=\"border-left-color:#2ec4b6\">\n      <h2>Saved Configurations</h2>\n      <div id=\"configList\"></div>\n      <button class=\"btn-secondary\" onclick=\"newConfig()\" style=\"margin-top:0.8rem\">+ New Config</button>\n    </div>\n  </div>\n\n  <div id=\"stepsContainer\" style=\"display:none\">\n\n  <!-- Step 1 -->\n  <div class=\"step\" id=\"step1\">\n    <h2>1. Feature Service URL</h2>\n    <div class=\"row\">\n      <div class=\"grow\">\n        <label for=\"serviceUrl\">ArcGIS Feature Service or Layer URL</label>\n        <input type=\"text\" id=\"serviceUrl\"\n               placeholder=\"https://services.arcgis.com/…/FeatureServer\">\n      </div>\n      <button id=\"btnFetch\" onclick=\"fetchService()\">Fetch</button>\n    </div>\n    <div id=\"svcStatus\"></div>\n  </div>\n\n  <!-- Step 2 -->\n  <div class=\"step disabled\" id=\"step2\">\n    <h2>2. Select Layer</h2>\n    <label for=\"layerSelect\">Layer</label>\n    <select id=\"layerSelect\" onchange=\"fetchLayer()\">\n      <option value=\"\">-- fetch service first --</option>\n    </select>\n    <div id=\"layerStatus\"></div>\n  </div>\n\n  <!-- Step 3 -->\n  <div class=\"step disabled\" id=\"step3\">\n    <h2>3. Field Mapping</h2>\n    <div class=\"field-grid\">\n      <div>\n        <label for=\"idField\">Stable ID field <span class=\"badge badge-oid\">suggested: OID / GlobalID</span></label>\n        <select id=\"idField\"></select>\n      </div>\n      <div>\n        <label for=\"timeField\">Time field <span class=\"badge badge-date\">suggested: Date type</span></label>\n        <select id=\"timeField\"><option value=\"\">(none)</option></select>\n      </div>\n    </div>\n    <div style=\"margin-top:1rem\">\n      <label>Detected geometry <span class=\"badge badge-geom\" id=\"geomBadge\"></span></label>\n    </div>\n    <div id=\"sampleData\"></div>\n  </div>\n\n  <!-- Step 3b: Filter -->\n  <div class=\"step disabled\" id=\"step3b\">\n    <h2>3b. Source Filter</h2>\n    <label>Select from current sources and/or type additional source names below. Only checked/added sources will sync.</label>\n\n    <div class=\"field-grid\" style=\"margin-top:0.8rem\">\n      <div>\n        <label for=\"filterField\">Load values from field</label>\n        <select id=\"filterField\" onchange=\"fetchDistinct()\">\n          <option value=\"\">(none)</option>\n        </select>\n      </div>\n      <div>\n        <button id=\"btnDistinct\" onclick=\"fetchDistinct()\" style=\"margin-top:1.4rem\" disabled>Load Values</button>\n      </div>\n    </div>\n    <div id=\"filterStatus\"></div>\n    <div id=\"distinctValues\" style=\"margin-top:0.8rem;max-height:260px;overflow-y:auto\"></div>\n\n    <div style=\"margin-top:1rem;border-top:1px solid #1a1a4e;padding-top:1rem\">\n      <label>Add source manually (for sources not currently in the data)</label>\n      <div class=\"row\" style=\"margin-top:0.4rem\">\n        <div class=\"grow\">\n          <input type=\"text\" id=\"filterInput\" placeholder=\"e.g. FIRIS, CAL FIRE INTEL FLIGHT DATA\"\n                 onkeydown=\"if(event.key==='Enter'){event.preventDefault();addManualFilter();}\">\n        </div>\n        <button onclick=\"addManualFilter()\">Add</button>\n      </div>\n      <div id=\"manualTags\"></div>\n    </div>\n\n    <div style=\"margin-top:1rem;border-top:1px solid #1a1a4e;padding-top:1rem\">\n      <label>Selected sources</label>\n      <div id=\"allSelectedTags\" style=\"display:flex;flex-wrap:wrap;gap:0.4rem;margin-top:0.4rem\"></div>\n    </div>\n    <div style=\"margin-top:0.8rem;font-size:0.8rem;color:#888\" id=\"filterPreview\"></div>\n  </div>\n\n  <!-- Step 4 -->\n  <div class=\"step disabled\" id=\"step4\">\n    <h2>4. Shape Style, Remarks &amp; TTL</h2>\n\n    <div class=\"field-grid\">\n      <div>\n        <label for=\"strokeColor\">Stroke (outline) color</label>\n        <div class=\"color-row\">\n          <input type=\"color\" id=\"strokeColorPick\" value=\"#FF0000\"\n                 oninput=\"document.getElementById('strokeColor').value=this.value;updSwatch('swStroke',this.value)\">\n          <input type=\"text\" id=\"strokeColor\" value=\"#FF0000\" style=\"width:110px\"\n                 oninput=\"updSwatch('swStroke',this.value);document.getElementById('strokeColorPick').value=this.value\">\n          <div class=\"color-swatch\" id=\"swStroke\" style=\"background:#FF0000\"></div>\n        </div>\n      </div>\n      <div>\n        <label for=\"fillColor\">Fill color</label>\n        <div class=\"color-row\">\n          <input type=\"color\" id=\"fillColorPick\" value=\"#FF0000\"\n                 oninput=\"document.getElementById('fillColor').value=this.value;updSwatch('swFill',this.value)\">\n          <input type=\"text\" id=\"fillColor\" value=\"#FF0000\" style=\"width:110px\"\n                 oninput=\"updSwatch('swFill',this.value);document.getElementById('fillColorPick').value=this.value\">\n          <div class=\"color-swatch\" id=\"swFill\" style=\"background:#FF0000\"></div>\n        </div>\n      </div>\n      <div>\n        <label for=\"fillAlpha\">Fill opacity <span id=\"fillAlphaVal\" style=\"color:#2ec4b6\">33%</span></label>\n        <input type=\"range\" id=\"fillAlpha\" min=\"0\" max=\"100\" value=\"33\" style=\"width:100%\"\n               oninput=\"document.getElementById('fillAlphaVal').textContent=this.value+'%'\">\n      </div>\n      <div>\n        <label for=\"strokeWeight\">Line thickness (px)</label>\n        <select id=\"strokeWeight\">\n          <option value=\"1\">1 — Thin</option>\n          <option value=\"2\">2 — Light</option>\n          <option value=\"3\" selected>3 — Normal</option>\n          <option value=\"5\">5 — Medium</option>\n          <option value=\"8\">8 — Heavy</option>\n        </select>\n      </div>\n      <div>\n        <label for=\"strokeStyle\">Line style</label>\n        <select id=\"strokeStyle\">\n          <option value=\"solid\">Solid</option>\n          <option value=\"dashed\">Dashed</option>\n          <option value=\"dotted\">Dotted</option>\n          <option value=\"outlined\">Outlined</option>\n        </select>\n      </div>\n    </div>\n\n    <div class=\"field-grid\" style=\"margin-top:1rem\">\n      <div>\n        <label for=\"closedShape\">Shape closed</label>\n        <select id=\"closedShape\">\n          <option value=\"true\" selected>Yes — Closed polygon</option>\n          <option value=\"false\">No — Open polyline</option>\n        </select>\n      </div>\n      <div>\n        <label for=\"labelsOn\">Show label on map</label>\n        <select id=\"labelsOn\">\n          <option value=\"true\">Yes</option>\n          <option value=\"false\" selected>No</option>\n        </select>\n      </div>\n      <div>\n        <label for=\"labelField\">Label field (callsign)</label>\n        <select id=\"labelField\">\n          <option value=\"\">(none)</option>\n        </select>\n      </div>\n      <div>\n        <label for=\"centerLabel\">Center label in shape</label>\n        <select id=\"centerLabel\">\n          <option value=\"true\" selected>Yes</option>\n          <option value=\"false\">No</option>\n        </select>\n      </div>\n      <div>\n        <label for=\"uidPrefix\">UID prefix</label>\n        <input type=\"text\" id=\"uidPrefix\" value=\"arcgis-\" placeholder=\"arcgis-\">\n      </div>\n    </div>\n\n    <div style=\"margin-top:1rem\">\n      <label>Remarks — click fields to add them in order. Click a selected field to remove it.</label>\n      <div id=\"remarksAvailable\" style=\"display:flex;flex-wrap:wrap;gap:0.3rem;margin-top:0.5rem\"></div>\n      <div style=\"margin-top:0.6rem\">\n        <label>Selected (in order)</label>\n        <div id=\"remarksSelected\" style=\"display:flex;flex-wrap:wrap;gap:0.3rem;margin-top:0.3rem;min-height:2rem;padding:0.5rem;background:#0a0a1a;border-radius:4px;border:1px solid #1a1a4e\"></div>\n      </div>\n      <div style=\"margin-top:0.4rem;font-size:0.75rem;color:#666\">\n        Remarks will show as: <span id=\"remarksPreview\" style=\"color:#2ec4b6\">FieldA: value | FieldB: value</span>\n      </div>\n    </div>\n\n    <div class=\"field-grid\" style=\"margin-top:1rem\">\n      <div>\n        <label for=\"ttlValue\">Time window (filters by time field when set; also sets CoT stale)</label>\n        <div class=\"row\" style=\"margin-top:0.35rem;align-items:center\">\n          <input type=\"number\" id=\"ttlValue\" value=\"72\" min=\"0\" step=\"any\" class=\"grow\" style=\"max-width:160px\">\n          <select id=\"ttlUnit\" style=\"max-width:160px\">\n            <option value=\"minutes\">Minutes</option>\n            <option value=\"hours\" selected>Hours</option>\n            <option value=\"days\">Days</option>\n          </select>\n        </div>\n        <div style=\"font-size:0.75rem;color:#888;margin-top:0.4rem\">Use <strong>0</strong> for no time filter and default CoT stale (1h).</div>\n      </div>\n    </div>\n  </div>\n\n  <!-- Step 5 -->\n  <div class=\"step disabled\" id=\"step5\">\n    <h2>5. Save &amp; Generate</h2>\n    <div class=\"field-grid\" style=\"margin-bottom:1rem\">\n      <div>\n        <label for=\"configName\">Config name</label>\n        <input type=\"text\" id=\"configName\" placeholder=\"Shown in Saved list &amp; Node-RED debug (e.g. CA AIR INTEL)\">\n      </div>\n      <div>\n        <label for=\"missionName\">TAK Mission name</label>\n        <input type=\"text\" id=\"missionName\" placeholder=\"e.g. ArcGIS-Fires\">\n      </div>\n    </div>\n    <div class=\"field-grid\" style=\"margin-bottom:1rem\">\n      <div>\n        <label for=\"configCreatorUid\">Creator UID</label>\n        <input type=\"text\" id=\"configCreatorUid\" placeholder=\"e.g. nodered-global-airdata (match Portal integration user &amp; TLS cert)\">\n      </div>\n      <div>\n        <label for=\"pollInterval\">Poll interval (minutes)</label>\n        <input type=\"number\" id=\"pollInterval\" min=\"1\" max=\"1440\" value=\"5\" placeholder=\"5\">\n      </div>\n    </div>\n    <div class=\"row\">\n      <button onclick=\"generateConfig()\">Save &amp; Generate Config JSON</button>\n      <button class=\"btn-secondary\" onclick=\"copyConfig()\">Copy to Clipboard</button>\n      <button class=\"btn-secondary\" onclick=\"downloadConfig()\">Download</button>\n    </div>\n    <div id=\"saveStatus\"></div>\n    <div class=\"config-output\" id=\"configOutput\"></div>\n  </div>\n\n  </div><!-- end stepsContainer -->\n</div>\n\n<script>\nconst state = {\n  serviceUrl: '',\n  layers: [],\n  selectedLayer: null,\n  layerName: '',\n  fields: [],\n  geometryType: '',\n  sampleFeatures: []\n};\n\nfunction updSwatch(id, v) {\n  document.getElementById(id).style.background = v;\n}\n\nfunction enable(n) {\n  document.getElementById('step' + n).classList.remove('disabled');\n}\n\nfunction status(id, msg, ok) {\n  document.getElementById(id).innerHTML =\n    '<div class=\"status ' + (ok ? 'ok' : 'error') + '\">' + msg + '</div>';\n}\n\nfunction setLoading(btnId, loading) {\n  const btn = document.getElementById(btnId);\n  if (loading) {\n    btn.disabled = true;\n    btn._orig = btn.innerHTML;\n    btn.innerHTML += '<span class=\"spinner\"></span>';\n  } else {\n    btn.disabled = false;\n    btn.innerHTML = btn._orig || btn.innerHTML.replace(/<span.*<\\/span>/, '');\n  }\n}\n\n/* ── Step 1: Fetch service ── */\nasync function fetchService() {\n  const raw = document.getElementById('serviceUrl').value.trim();\n  if (!raw) return;\n  state.serviceUrl = raw.replace(/\\/+$/, '');\n  setLoading('btnFetch', true);\n\n  try {\n    const res = await fetch('/api/arcgis/service', {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ url: state.serviceUrl })\n    });\n    const data = await res.json();\n    if (data.error) { status('svcStatus', 'Error: ' + data.error, false); return; }\n\n    state.layers = data.layers || [];\n    const sel = document.getElementById('layerSelect');\n    sel.innerHTML = '<option value=\"\">-- select a layer --</option>';\n    state.layers.forEach(function(l) {\n      var gt = l.geometryType ? l.geometryType.replace('esriGeometry', '') : 'Table';\n      sel.innerHTML += '<option value=\"' + l.id + '\">' + l.id + ': ' + l.name + ' (' + gt + ')</option>';\n    });\n\n    status('svcStatus', 'Found ' + state.layers.length + ' layer(s)', true);\n    enable(2);\n  } catch (e) {\n    status('svcStatus', 'Fetch failed: ' + e.message, false);\n  } finally {\n    setLoading('btnFetch', false);\n  }\n}\n\n/* ── Step 2: Fetch layer detail + sample ── */\nasync function fetchLayer() {\n  var layerId = document.getElementById('layerSelect').value;\n  if (layerId === '') return;\n  state.selectedLayer = layerId;\n\n  try {\n    var results = await Promise.all([\n      fetch('/api/arcgis/layer', {\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify({ url: state.serviceUrl, layerId: layerId })\n      }),\n      fetch('/api/arcgis/sample', {\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify({ url: state.serviceUrl, layerId: layerId })\n      })\n    ]);\n\n    var layerData  = await results[0].json();\n    var sampleData = await results[1].json();\n    if (layerData.error) { status('layerStatus', 'Error: ' + layerData.error, false); return; }\n\n    state.fields         = layerData.fields || [];\n    state.geometryType   = layerData.geometryType || 'unknown';\n    state.layerName      = layerData.name || '';\n    state.sampleFeatures = (sampleData.features || []).slice(0, 50);\n\n    /* populate field dropdowns */\n    var idSel   = document.getElementById('idField');\n    var timeSel = document.getElementById('timeField');\n    idSel.innerHTML   = '';\n    timeSel.innerHTML  = '<option value=\"\">(none &mdash; no time filter)</option>';\n\n    state.fields.forEach(function(f) {\n      var short = f.type.replace('esriFieldType', '');\n      var isId   = (f.type === 'esriFieldTypeOID' || f.type === 'esriFieldTypeGlobalID');\n      var isDate = (f.type === 'esriFieldTypeDate');\n      var tag    = isId ? ' << ID' : isDate ? ' << Date' : '';\n\n      idSel.innerHTML += '<option value=\"' + f.name + '\"' + (isId ? ' selected' : '') + '>'\n                         + f.name + ' (' + short + ')' + tag + '</option>';\n      timeSel.innerHTML += '<option value=\"' + f.name + '\"' + (isDate ? ' selected' : '') + '>'\n                           + f.name + ' (' + short + ')' + (isDate ? ' << Date' : '') + '</option>';\n    });\n\n    document.getElementById('geomBadge').textContent =\n      state.geometryType.replace('esriGeometry', '');\n\n    /* sample data table */\n    if (state.sampleFeatures.length) {\n      var keys = Object.keys(state.sampleFeatures[0].attributes);\n      var html = '<div class=\"sample-wrap\"><table class=\"sample-table\"><tr>';\n      keys.forEach(function(k) { html += '<th>' + k + '</th>'; });\n      html += '</tr>';\n      state.sampleFeatures.forEach(function(f) {\n        html += '<tr>';\n        keys.forEach(function(k) {\n          var v = f.attributes[k];\n          if (v != null && String(v).length > 50) v = String(v).substring(0, 50) + '\\u2026';\n          html += '<td>' + (v != null ? v : '') + '</td>';\n        });\n        html += '</tr>';\n      });\n      html += '</table></div>';\n      document.getElementById('sampleData').innerHTML =\n        '<label style=\"margin-top:1rem;display:block\">Sample features (' + state.sampleFeatures.length + ' rows)</label>' + html;\n    }\n\n    /* populate filter field dropdown */\n    var filterSel = document.getElementById('filterField');\n    filterSel.innerHTML = '<option value=\"\">(none &mdash; no filter)</option>';\n    state.fields.forEach(function(f) {\n      var short = f.type.replace('esriFieldType', '');\n      filterSel.innerHTML += '<option value=\"' + f.name + '\">' + f.name + ' (' + short + ')' + '</option>';\n    });\n    document.getElementById('distinctValues').innerHTML = '';\n    document.getElementById('filterPreview').textContent = '';\n    state.filterField = '';\n    state.distinctValues = [];\n    state.selectedValues = [];\n\n    /* populate label field dropdown */\n    var labelSel = document.getElementById('labelField');\n    labelSel.innerHTML = '<option value=\"\">(none)</option>';\n    state.fields.forEach(function(f) {\n      var isMission = (f.name.toLowerCase() === 'mission' || f.name.toLowerCase() === 'incidentname');\n      labelSel.innerHTML += '<option value=\"' + f.name + '\"' + (isMission ? ' selected' : '') + '>'\n        + f.name + '</option>';\n    });\n\n    /* populate remarks picker */\n    populateRemarksPicker();\n\n    /* auto-set UID prefix from layer name */\n    var match = state.layers.find(function(l) { return String(l.id) === String(layerId); });\n    if (match) {\n      document.getElementById('uidPrefix').value =\n        match.name.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '') + '-';\n    }\n\n    status('layerStatus',\n      state.fields.length + ' fields, geometry: ' + state.geometryType.replace('esriGeometry', ''), true);\n    enable(3); enable('3b'); enable(4); enable(5);\n  } catch (e) {\n    status('layerStatus', 'Fetch failed: ' + e.message, false);\n  }\n}\n\n/* ── Step 3b: Distinct values + filter ── */\nstate.distinctValues = [];\nstate.selectedValues = [];\nstate.filterField = '';\nstate.manualSources = [];\n\nasync function fetchDistinct() {\n  var field = document.getElementById('filterField').value;\n  if (!field) {\n    document.getElementById('distinctValues').innerHTML = '';\n    document.getElementById('filterPreview').textContent = '';\n    state.filterField = '';\n    state.distinctValues = [];\n    state.selectedValues = [];\n    return;\n  }\n  state.filterField = field;\n  document.getElementById('btnDistinct').disabled = true;\n\n  try {\n    var res = await fetch('/api/arcgis/distinct', {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        url: state.serviceUrl,\n        layerId: state.selectedLayer,\n        field: field\n      })\n    });\n    var data = await res.json();\n    if (data.error) { status('filterStatus', 'Error: ' + data.error, false); return; }\n\n    var raw = (data.values || []).map(function(v) { return v != null ? String(v).trim() : ''; });\n    var seen = {};\n    state.distinctValues = raw.filter(function(v) {\n      if (!v || seen[v]) return false;\n      seen[v] = true;\n      return true;\n    });\n    state.selectedValues = [];\n\n    var html = '<div class=\"cb-actions\">' +\n      '<button class=\"btn-secondary\" onclick=\"filterSelectAll()\">Select All</button>' +\n      '<button class=\"btn-secondary\" onclick=\"filterSelectNone()\">Select None</button>' +\n      '</div><div class=\"cb-grid\">';\n    state.distinctValues.forEach(function(v, i) {\n      var display = (v == null || v === '') ? '(empty)' : v;\n      html += '<label class=\"cb-item\">' +\n        '<input type=\"checkbox\" autocomplete=\"off\" onchange=\"filterToggle(this,' + i + ')\">' +\n        '<span>' + display + '</span></label>';\n    });\n    html += '</div>';\n    document.getElementById('distinctValues').innerHTML = html;\n    document.querySelectorAll('#distinctValues input[type=checkbox]').forEach(function(cb) {\n      cb.checked = false;\n    });\n    status('filterStatus', state.distinctValues.length + ' distinct values found', true);\n    renderAllSelectedTags();\n    updateFilterPreview();\n  } catch (e) {\n    status('filterStatus', 'Fetch failed: ' + e.message, false);\n  } finally {\n    document.getElementById('btnDistinct').disabled = false;\n  }\n}\n\nfunction filterToggle(cb, idx) {\n  var val = state.distinctValues[idx];\n  var item = cb.closest('.cb-item');\n  if (cb.checked) {\n    if (state.selectedValues.indexOf(val) < 0) state.selectedValues.push(val);\n    item.classList.add('checked');\n  } else {\n    state.selectedValues = state.selectedValues.filter(function(v) { return v !== val; });\n    item.classList.remove('checked');\n  }\n  renderAllSelectedTags();\n  updateFilterPreview();\n}\n\nfunction filterSelectAll() {\n  state.selectedValues = state.distinctValues.slice();\n  document.querySelectorAll('#distinctValues input[type=checkbox]').forEach(function(cb) {\n    cb.checked = true;\n    cb.closest('.cb-item').classList.add('checked');\n  });\n  renderAllSelectedTags();\n  updateFilterPreview();\n}\n\nfunction filterSelectNone() {\n  state.selectedValues = [];\n  document.querySelectorAll('#distinctValues input[type=checkbox]').forEach(function(cb) {\n    cb.checked = false;\n    cb.closest('.cb-item').classList.remove('checked');\n  });\n  renderAllSelectedTags();\n  updateFilterPreview();\n}\n\nfunction getAllFilterValues() {\n  var all = state.selectedValues.slice();\n  state.manualSources.forEach(function(m) {\n    if (all.indexOf(m) < 0) all.push(m);\n  });\n  return all;\n}\n\nfunction updateFilterPreview() {\n  var el = document.getElementById('filterPreview');\n  var all = getAllFilterValues();\n  var field = state.filterField || 'source';\n  if (all.length === 0 && state.manualSources.length === 0 && state.selectedValues.length === 0) {\n    el.textContent = '';\n    return;\n  }\n  if (all.length === 0) {\n    el.textContent = '⚠ No values selected — nothing will sync';\n    return;\n  }\n  if (state.filterField && all.length === state.distinctValues.length && state.manualSources.length === 0) {\n    el.textContent = 'Filter: all values selected (no filter applied)';\n    return;\n  }\n  var vals = all.map(function(v) { return \"'\" + String(v).replace(/'/g, \"''\") + \"'\"; });\n  el.textContent = 'WHERE ' + field + ' IN (' + vals.join(', ') + ')';\n}\n\nfunction addManualFilter() {\n  var input = document.getElementById('filterInput');\n  var raw = input.value.trim();\n  if (!raw) { return; }\n  var parts = raw.split(',');\n  parts.forEach(function(p) {\n    var val = p.trim();\n    if (!val) return;\n    if (state.manualSources.indexOf(val) >= 0) return;\n    if (state.selectedValues.indexOf(val) >= 0) return;\n    state.manualSources.push(val);\n  });\n  input.value = '';\n  renderAllSelectedTags();\n  updateFilterPreview();\n}\n\nfunction removeManualFilter(val) {\n  state.manualSources = state.manualSources.filter(function(v) { return v !== val; });\n  renderAllSelectedTags();\n  updateFilterPreview();\n}\n\nfunction removeCheckboxFilter(val) {\n  state.selectedValues = state.selectedValues.filter(function(v) { return v !== val; });\n  var idx = state.distinctValues.indexOf(val);\n  if (idx >= 0) {\n    var cbs = document.querySelectorAll('#distinctValues input[type=checkbox]');\n    if (cbs[idx]) {\n      cbs[idx].checked = false;\n      cbs[idx].closest('.cb-item').classList.remove('checked');\n    }\n  }\n  renderAllSelectedTags();\n  updateFilterPreview();\n}\n\nfunction renderAllSelectedTags() {\n  var html = '';\n  state.selectedValues.forEach(function(v) {\n    html += '<span class=\"filter-tag\">' + v +\n      ' <span class=\"x\" onclick=\"removeCheckboxFilter(\\'' + v.replace(/'/g, \"\\\\'\") + '\\')\">&times;</span></span>';\n  });\n  state.manualSources.forEach(function(v) {\n    html += '<span class=\"filter-tag\">' + v +\n      ' <span class=\"x\" onclick=\"removeManualFilter(\\'' + v.replace(/'/g, \"\\\\'\") + '\\')\">&times;</span></span>';\n  });\n  var el = document.getElementById('allSelectedTags');\n  if (el) el.innerHTML = html || '<span style=\"color:#555\">No sources selected</span>';\n}\n\n/* ── Remarks field picker ── */\nstate.remarksFields = [];\n\nfunction populateRemarksPicker() {\n  state.remarksFields = [];\n  var html = '';\n  state.fields.forEach(function(f) {\n    html += '<span class=\"remark-pill available\" id=\"rpill-' + f.name + '\" onclick=\"addRemarkField(\\'' + f.name.replace(/'/g, \"\\\\'\") + '\\')\">'\n      + f.name + '</span>';\n  });\n  document.getElementById('remarksAvailable').innerHTML = html;\n  document.getElementById('remarksSelected').innerHTML = '<span style=\"color:#555\">Click fields above to add</span>';\n  updateRemarksPreview();\n}\n\nfunction addRemarkField(name) {\n  if (state.remarksFields.indexOf(name) >= 0) return;\n  state.remarksFields.push(name);\n  renderRemarksSelected();\n  updateRemarksPreview();\n  var pill = document.getElementById('rpill-' + name);\n  if (pill) pill.classList.add('used');\n}\n\nfunction removeRemarkField(idx) {\n  var name = state.remarksFields[idx];\n  state.remarksFields.splice(idx, 1);\n  renderRemarksSelected();\n  updateRemarksPreview();\n  var pill = document.getElementById('rpill-' + name);\n  if (pill) pill.classList.remove('used');\n}\n\nfunction renderRemarksSelected() {\n  if (state.remarksFields.length === 0) {\n    document.getElementById('remarksSelected').innerHTML = '<span style=\"color:#555\">Click fields above to add</span>';\n    return;\n  }\n  var html = '';\n  state.remarksFields.forEach(function(name, i) {\n    html += '<span class=\"remark-pill selected\" onclick=\"removeRemarkField(' + i + ')\">'\n      + name + ' &times;</span>';\n  });\n  document.getElementById('remarksSelected').innerHTML = html;\n}\n\nfunction updateRemarksPreview() {\n  var el = document.getElementById('remarksPreview');\n  if (state.remarksFields.length === 0) {\n    el.textContent = '(none selected)';\n    return;\n  }\n  el.textContent = state.remarksFields.map(function(f) { return f + ': {value}'; }).join(' | ');\n}\n\nfunction getRemarksTemplate() {\n  if (state.remarksFields.length === 0) return null;\n  return state.remarksFields.map(function(f) { return f + ': {' + f + '}'; }).join(' | ');\n}\n\n/* ── Step 5: Generate config ── */\nfunction generateConfig() {\n  var allValues = getAllFilterValues();\n  var filterField = state.filterField || (allValues.length > 0 ? 'source' : null);\n  var whereClause = null;\n  if (filterField && allValues.length > 0) {\n    var vals = allValues.map(function(v) { return \"'\" + String(v).replace(/'/g, \"''\") + \"'\"; });\n    whereClause = filterField + ' IN (' + vals.join(', ') + ')';\n  }\n\n  var config = {\n    configName: document.getElementById('configName').value || state.layerName || 'Unnamed',\n    source: {\n      serviceUrl: state.serviceUrl,\n      layerId: parseInt(state.selectedLayer, 10),\n      layerName: state.layerName,\n      geometryType: state.geometryType,\n      where: whereClause\n    },\n    mapping: {\n      idField: document.getElementById('idField').value,\n      timeField: document.getElementById('timeField').value || null\n    },\n    filter: {\n      field: filterField,\n      values: allValues.length > 0 ? allValues : null\n    },\n    style: {\n      strokeColor: document.getElementById('strokeColor').value,\n      fillColor: document.getElementById('fillColor').value,\n      fillAlpha: parseInt(document.getElementById('fillAlpha').value, 10) || 33,\n      strokeWeight: parseInt(document.getElementById('strokeWeight').value, 10),\n      strokeStyle: document.getElementById('strokeStyle').value,\n      closed: document.getElementById('closedShape').value === 'true',\n      labelsOn: document.getElementById('labelsOn').value === 'true',\n      labelField: document.getElementById('labelField').value || null,\n      centerLabel: document.getElementById('centerLabel').value === 'true'\n    },\n    remarksTemplate: getRemarksTemplate(),\n    remarksFields: state.remarksFields.length > 0 ? state.remarksFields.slice() : null,\n    ttlValue: parseFloat(document.getElementById('ttlValue').value) || 0,\n    ttlUnit: document.getElementById('ttlUnit').value,\n    uidPrefix: document.getElementById('uidPrefix').value,\n    missionName: document.getElementById('missionName').value || '',\n    creatorUid: (document.getElementById('configCreatorUid').value || '').trim(),\n    pollInterval: parseInt(document.getElementById('pollInterval').value, 10) || 5,\n    generated: new Date().toISOString()\n  };\n\n  document.getElementById('configOutput').textContent = JSON.stringify(config, null, 2);\n\n  fetch('/api/config/save', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify(config)\n  }).then(function(r) { return r.json(); })\n    .then(function(d) {\n      _savedConfigs = [];\n      loadSavedConfigs();\n      setTimeout(function() { resetForm(); hideSteps(); }, 500);\n    })\n    .catch(function() {});\n}\n\nfunction copyConfig() {\n  var t = document.getElementById('configOutput').textContent;\n  if (t) navigator.clipboard.writeText(t).then(function() {\n    status('saveStatus', 'Copied to clipboard', true);\n  });\n}\n\nfunction downloadConfig() {\n  var t = document.getElementById('configOutput').textContent;\n  if (!t) return;\n  var blob = new Blob([t], { type: 'application/json' });\n  var a = document.createElement('a');\n  a.href = URL.createObjectURL(blob);\n  a.download = 'arcgis-tak-config.json';\n  a.click();\n}\n\n/* ── Load saved configs on page open ── */\nvar _savedConfigs = [];\nvar _activeConfigIdx = -1;\n\nasync function loadSavedConfigs() {\n  try {\n    var res = await fetch('/api/config/load');\n    var data = await res.json();\n    _savedConfigs = data.configs || [];\n    if (_savedConfigs.length === 0) {\n      document.getElementById('savedConfigBar').style.display = 'none';\n      showSteps();\n      return;\n    }\n\n    document.getElementById('savedConfigBar').style.display = 'block';\n    renderConfigList();\n    hideSteps();\n  } catch (e) {}\n}\n\nfunction _esc(s) {\n  return String(s == null ? '' : s)\n    .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;');\n}\n\nfunction renderConfigList() {\n  var html = '';\n  _savedConfigs.forEach(function(c, i) {\n    var rawName = (c.configName && String(c.configName).trim()) ? c.configName.trim() : '';\n    var name = rawName ? _esc(rawName) : '<span style=\"color:#e94560\">Unnamed</span> <span style=\"color:#888;font-weight:400;font-size:0.8rem\">(set Config name in Step 5)</span>';\n    var detail = (c.source.serviceUrl || '').split('/services/')[1] || c.source.serviceUrl || '';\n    if (detail.length > 60) detail = detail.substring(0, 60) + '…';\n    var filters = (c.filter && c.filter.values) ? c.filter.values.join(', ') : 'No filter';\n    var active = (i === _activeConfigIdx) ? ' active' : '';\n    html += '<div class=\"config-card' + active + '\" onclick=\"selectConfig(' + i + ')\">' +\n      '<div><div class=\"cc-name\">' + name + '</div>' +\n      '<div class=\"cc-detail\">' + _esc(detail) + ' | ' + _esc(filters) + '</div></div>' +\n      '<div class=\"cc-actions\">' +\n      '<button class=\"btn-secondary\" onclick=\"event.stopPropagation();deleteConfig(' + i + ')\">Delete</button>' +\n      '</div></div>';\n  });\n  document.getElementById('configList').innerHTML = html;\n}\n\nfunction hideSteps() {\n  document.getElementById('stepsContainer').style.display = 'none';\n}\n\nfunction showSteps() {\n  document.getElementById('stepsContainer').style.display = 'block';\n}\n\nfunction resetForm() {\n  _activeConfigIdx = -1;\n  renderConfigList();\n\n  document.getElementById('serviceUrl').value = '';\n  document.getElementById('configName').value = '';\n  document.getElementById('missionName').value = '';\n  document.getElementById('configCreatorUid').value = '';\n  document.getElementById('pollInterval').value = '5';\n  document.getElementById('strokeColor').value = '#FF0000';\n  document.getElementById('strokeColorPick').value = '#FF0000';\n  updSwatch('swStroke', '#FF0000');\n  document.getElementById('fillColor').value = '#FF0000';\n  document.getElementById('fillColorPick').value = '#FF0000';\n  updSwatch('swFill', '#FF0000');\n  document.getElementById('fillAlpha').value = '33';\n  document.getElementById('fillAlphaVal').textContent = '33%';\n  document.getElementById('configOutput').textContent = '';\n\n  document.getElementById('layerSelect').innerHTML = '<option value=\"\">-- fetch service first --</option>';\n  document.getElementById('idField').innerHTML = '';\n  document.getElementById('timeField').innerHTML = '<option value=\"\">(none)</option>';\n  document.getElementById('labelField').innerHTML = '<option value=\"\">(none)</option>';\n  document.getElementById('filterField').innerHTML = '<option value=\"\">(none)</option>';\n  document.getElementById('distinctValues').innerHTML = '';\n  document.getElementById('filterPreview').textContent = '';\n  document.getElementById('remarksAvailable').innerHTML = '';\n  document.getElementById('remarksSelected').innerHTML = '';\n  document.getElementById('remarksPreview').textContent = '';\n  document.getElementById('sampleData').innerHTML = '';\n  document.getElementById('geomBadge').textContent = '';\n  if (document.getElementById('allSelectedTags')) document.getElementById('allSelectedTags').innerHTML = '';\n  if (document.getElementById('manualTags')) document.getElementById('manualTags').innerHTML = '';\n\n  state.serviceUrl = '';\n  state.layers = [];\n  state.selectedLayer = null;\n  state.fields = [];\n  state.geometryType = '';\n  state.sampleFeatures = [];\n  state.filterField = '';\n  state.distinctValues = [];\n  state.selectedValues = [];\n  state.manualSources = [];\n  state.remarksFields = [];\n\n  ['step2','step3','step3b','step4','step5'].forEach(function(id) {\n    document.getElementById(id).classList.add('disabled');\n  });\n\n  document.getElementById('svcStatus').innerHTML = '';\n  document.getElementById('layerStatus').innerHTML = '';\n  document.getElementById('filterStatus').innerHTML = '';\n  document.getElementById('saveStatus').innerHTML = '';\n\n  document.getElementById('ttlValue').value = '72';\n  document.getElementById('ttlUnit').value = 'hours';\n\n  window.scrollTo({ top: 0, behavior: 'smooth' });\n}\n\nfunction newConfig() {\n  resetForm();\n  showSteps();\n}\n\nasync function selectConfig(idx) {\n  _activeConfigIdx = idx;\n  renderConfigList();\n  showSteps();\n  var c = _savedConfigs[idx];\n  if (!c) return;\n\n  document.getElementById('configName').value = c.configName || '';\n  document.getElementById('serviceUrl').value = c.source.serviceUrl || '';\n  state.serviceUrl = c.source.serviceUrl || '';\n\n  await fetchService();\n\n  var layerSel = document.getElementById('layerSelect');\n  if (c.source.layerId != null) {\n    layerSel.value = String(c.source.layerId);\n    await fetchLayer();\n  }\n\n  if (c.mapping) {\n    if (c.mapping.idField) document.getElementById('idField').value = c.mapping.idField;\n    document.getElementById('timeField').value = c.mapping.timeField || '';\n  }\n\n  if (c.filter && c.filter.field) {\n    document.getElementById('filterField').value = c.filter.field;\n    await fetchDistinct();\n    if (c.filter.values && c.filter.values.length) {\n      state.selectedValues = [];\n      state.manualSources = [];\n      c.filter.values.forEach(function(v) {\n        var distIdx = state.distinctValues.indexOf(v);\n        if (distIdx >= 0) {\n          state.selectedValues.push(v);\n          var cbs = document.querySelectorAll('#distinctValues input[type=checkbox]');\n          if (cbs[distIdx]) {\n            cbs[distIdx].checked = true;\n            cbs[distIdx].closest('.cb-item').classList.add('checked');\n          }\n        } else {\n          state.manualSources.push(v);\n        }\n      });\n      renderAllSelectedTags();\n      updateFilterPreview();\n    }\n  }\n\n  if (c.style) {\n    var sc = c.style.strokeColor || c.style.color || '#FF0000';\n    var fc = c.style.fillColor || c.style.color || '#FF0000';\n    document.getElementById('strokeColor').value = sc;\n    document.getElementById('strokeColorPick').value = sc;\n    updSwatch('swStroke', sc);\n    document.getElementById('fillColor').value = fc;\n    document.getElementById('fillColorPick').value = fc;\n    updSwatch('swFill', fc);\n    if (c.style.fillAlpha != null) {\n      var fa = (typeof c.style.fillAlpha === 'string') ? Math.round(parseInt(c.style.fillAlpha, 16) / 2.55) : c.style.fillAlpha;\n      document.getElementById('fillAlpha').value = fa;\n      document.getElementById('fillAlphaVal').textContent = fa + '%';\n    }\n    if (c.style.strokeWeight) document.getElementById('strokeWeight').value = String(c.style.strokeWeight);\n    if (c.style.strokeStyle) document.getElementById('strokeStyle').value = c.style.strokeStyle;\n    if (c.style.closed != null) document.getElementById('closedShape').value = String(c.style.closed);\n    if (c.style.labelsOn != null) document.getElementById('labelsOn').value = String(c.style.labelsOn);\n    if (c.style.labelField) document.getElementById('labelField').value = c.style.labelField;\n    if (c.style.centerLabel != null) document.getElementById('centerLabel').value = String(c.style.centerLabel);\n  }\n\n  if (c.remarksFields && c.remarksFields.length) {\n    state.remarksFields = [];\n    c.remarksFields.forEach(function(f) { addRemarkField(f); });\n  }\n  if (c.ttlValue != null && c.ttlUnit) {\n    document.getElementById('ttlValue').value = c.ttlValue;\n    document.getElementById('ttlUnit').value = c.ttlUnit;\n  } else if (c.ttlHours != null) {\n    document.getElementById('ttlValue').value = c.ttlHours;\n    document.getElementById('ttlUnit').value = 'hours';\n  }\n  if (c.uidPrefix) document.getElementById('uidPrefix').value = c.uidPrefix;\n  if (c.missionName) document.getElementById('missionName').value = c.missionName;\n  document.getElementById('configCreatorUid').value = (c.creatorUid != null && c.creatorUid !== '') ? c.creatorUid : '';\n  document.getElementById('pollInterval').value = (c.pollInterval != null && c.pollInterval > 0) ? c.pollInterval : 5;\n\n  document.getElementById('configOutput').textContent = JSON.stringify(c, null, 2);\n  status('saveStatus', 'Loaded \"' + (c.configName || 'config') + '\" — edit and hit Save to publish changes', true);\n}\n\nasync function deleteConfig(idx) {\n  var name = _savedConfigs[idx].configName || 'this config';\n  if (!confirm('Delete \"' + name + '\"?')) return;\n  _savedConfigs.splice(idx, 1);\n  if (_activeConfigIdx === idx) _activeConfigIdx = -1;\n  else if (_activeConfigIdx > idx) _activeConfigIdx--;\n  await fetch('/api/config/save-all', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ configs: _savedConfigs })\n  });\n  renderConfigList();\n  if (_savedConfigs.length === 0) {\n    document.getElementById('savedConfigBar').style.display = 'none';\n    resetForm();\n    showSteps();\n  }\n}\n\nloadSavedConfigs();\n\nasync function loadTakSettings() {\n  try {\n    var res = await fetch('/api/tak-settings/load');\n    var data = await res.json();\n    var s = data.settings || {};\n    if (s.serverUrl) document.getElementById('takServerUrl').value = s.serverUrl;\n    if (s.missionApiPort) document.getElementById('takApiPort').value = s.missionApiPort;\n    if (s.streamingPort) document.getElementById('takStreamPort').value = s.streamingPort;\n  } catch(e) {}\n}\n\nasync function saveTakSettings() {\n  var settings = {\n    serverUrl: document.getElementById('takServerUrl').value,\n    missionApiPort: parseInt(document.getElementById('takApiPort').value) || 8443,\n    streamingPort: parseInt(document.getElementById('takStreamPort').value) || 8089\n  };\n  try {\n    var res = await fetch('/api/tak-settings/save', {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify(settings)\n    });\n    var data = await res.json();\n    var el = document.getElementById('takSettingsStatus');\n    el.textContent = data.ok ? '✓ Saved' : 'Error';\n    el.style.color = data.ok ? '#2ec4b6' : '#e94560';\n  } catch(e) {\n    var el = document.getElementById('takSettingsStatus');\n    el.textContent = 'Error saving';\n    el.style.color = '#e94560';\n  }\n}\nloadTakSettings();\n</script>\n</body>\n</html>\n",
    "output": "str",
    "x": 390,
    "y": 80,
    "wires": [
      [
        "ho_ui"
      ]
    ]
  },
  {
    "id": "ho_ui",
    "type": "http response",
    "z": "flow_arcgis_cfg",
    "name": "",
    "statusCode": "200",
    "headers": {
      "content-type": "text/html",
      "cache-control": "no-cache, no-store, must-revalidate"
    },
    "x": 590,
    "y": 80,
    "wires": []
  },
  {
    "id": "c_api",
    "type": "comment",
    "z": "flow_arcgis_cfg",
    "name": "── ArcGIS Proxy APIs ──",
    "info": "",
    "x": 240,
    "y": 160,
    "wires": []
  },
  {
    "id": "hi_svc",
    "type": "http in",
    "z": "flow_arcgis_cfg",
    "name": "POST /api/arcgis/service",
    "url": "/api/arcgis/service",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 200,
    "wires": [
      [
        "fn_svc"
      ]
    ]
  },
  {
    "id": "fn_svc",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Build service URL",
    "func": "const base = msg.payload.url.replace(/\\/+$/, '');\nmsg.url = base + '?f=json';\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 200,
    "wires": [
      [
        "hr_svc"
      ]
    ]
  },
  {
    "id": "hr_svc",
    "type": "http request",
    "z": "flow_arcgis_cfg",
    "name": "GET service info",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 620,
    "y": 200,
    "wires": [
      [
        "fn_svc_parse"
      ]
    ]
  },
  {
    "id": "fn_svc_parse",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Parse service",
    "func": "if (msg.payload.error) {\n  msg.payload = { error: msg.payload.error.message || 'ArcGIS error' };\n} else {\n  msg.payload = {\n    layers: (msg.payload.layers || []).map(function(l) {\n      return { id: l.id, name: l.name, geometryType: l.geometryType || null };\n    })\n  };\n}\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 810,
    "y": 200,
    "wires": [
      [
        "ho_svc"
      ]
    ]
  },
  {
    "id": "ho_svc",
    "type": "http response",
    "z": "flow_arcgis_cfg",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1000,
    "y": 200,
    "wires": []
  },
  {
    "id": "hi_lyr",
    "type": "http in",
    "z": "flow_arcgis_cfg",
    "name": "POST /api/arcgis/layer",
    "url": "/api/arcgis/layer",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 300,
    "wires": [
      [
        "fn_lyr"
      ]
    ]
  },
  {
    "id": "fn_lyr",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Build layer URL",
    "func": "const base = msg.payload.url.replace(/\\/+$/, '');\nmsg.url = base + '/' + msg.payload.layerId + '?f=json';\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 300,
    "wires": [
      [
        "hr_lyr"
      ]
    ]
  },
  {
    "id": "hr_lyr",
    "type": "http request",
    "z": "flow_arcgis_cfg",
    "name": "GET layer info",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 620,
    "y": 300,
    "wires": [
      [
        "fn_lyr_parse"
      ]
    ]
  },
  {
    "id": "fn_lyr_parse",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Parse layer",
    "func": "if (msg.payload.error) {\n  msg.payload = { error: msg.payload.error.message || 'ArcGIS error' };\n} else {\n  msg.payload = {\n    name: msg.payload.name,\n    geometryType: msg.payload.geometryType,\n    fields: (msg.payload.fields || []).map(function(f) {\n      return { name: f.name, type: f.type, alias: f.alias || f.name };\n    })\n  };\n}\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 810,
    "y": 300,
    "wires": [
      [
        "ho_lyr"
      ]
    ]
  },
  {
    "id": "ho_lyr",
    "type": "http response",
    "z": "flow_arcgis_cfg",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1000,
    "y": 300,
    "wires": []
  },
  {
    "id": "hi_smp",
    "type": "http in",
    "z": "flow_arcgis_cfg",
    "name": "POST /api/arcgis/sample",
    "url": "/api/arcgis/sample",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 400,
    "wires": [
      [
        "fn_smp"
      ]
    ]
  },
  {
    "id": "fn_smp",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Build sample query URL",
    "func": "const base = msg.payload.url.replace(/\\/+$/, '');\nconst lid  = msg.payload.layerId;\nmsg.url = base + '/' + lid + '/query?where=1%3D1&outFields=*&resultRecordCount=50&f=json';\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 400,
    "wires": [
      [
        "hr_smp"
      ]
    ]
  },
  {
    "id": "hr_smp",
    "type": "http request",
    "z": "flow_arcgis_cfg",
    "name": "GET sample features",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 620,
    "y": 400,
    "wires": [
      [
        "fn_smp_parse"
      ]
    ]
  },
  {
    "id": "fn_smp_parse",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Parse sample",
    "func": "if (msg.payload.error) {\n  msg.payload = { error: msg.payload.error.message || 'ArcGIS error' };\n} else {\n  msg.payload = { features: (msg.payload.features || []).slice(0, 50) };\n}\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 810,
    "y": 400,
    "wires": [
      [
        "ho_smp"
      ]
    ]
  },
  {
    "id": "ho_smp",
    "type": "http response",
    "z": "flow_arcgis_cfg",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1000,
    "y": 400,
    "wires": []
  },
  {
    "id": "hi_dist",
    "type": "http in",
    "z": "flow_arcgis_cfg",
    "name": "POST /api/arcgis/distinct",
    "url": "/api/arcgis/distinct",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 500,
    "wires": [
      [
        "fn_dist"
      ]
    ]
  },
  {
    "id": "fn_dist",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Build distinct query URL",
    "func": "const base  = msg.payload.url.replace(/\\/+$/, '');\nconst lid   = msg.payload.layerId;\nconst field = encodeURIComponent(msg.payload.field);\nmsg.url = base + '/' + lid + '/query'\n  + '?where=1%3D1'\n  + '&outFields=' + field\n  + '&returnDistinctValues=true'\n  + '&orderByFields=' + field\n  + '&resultRecordCount=500'\n  + '&f=json';\nmsg._field = msg.payload.field;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 500,
    "wires": [
      [
        "hr_dist"
      ]
    ]
  },
  {
    "id": "hr_dist",
    "type": "http request",
    "z": "flow_arcgis_cfg",
    "name": "GET distinct values",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 620,
    "y": 500,
    "wires": [
      [
        "fn_dist_parse"
      ]
    ]
  },
  {
    "id": "fn_dist_parse",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Parse distinct",
    "func": "if (msg.payload.error) {\n  msg.payload = { error: msg.payload.error.message || 'ArcGIS error' };\n} else {\n  var field = msg._field;\n  var vals = (msg.payload.features || []).map(function(f) {\n    return f.attributes[field];\n  });\n  msg.payload = { values: vals };\n}\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 810,
    "y": 500,
    "wires": [
      [
        "ho_dist"
      ]
    ]
  },
  {
    "id": "ho_dist",
    "type": "http response",
    "z": "flow_arcgis_cfg",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1000,
    "y": 500,
    "wires": []
  },
  {
    "id": "c_save",
    "type": "comment",
    "z": "flow_arcgis_cfg",
    "name": "── Config Save ──",
    "info": "",
    "x": 240,
    "y": 580,
    "wires": []
  },
  {
    "id": "hi_save",
    "type": "http in",
    "z": "flow_arcgis_cfg",
    "name": "POST /api/config/save",
    "url": "/api/config/save",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 620,
    "wires": [
      [
        "fn_save"
      ]
    ]
  },
  {
    "id": "fn_save",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Save to flow context",
    "func": "var config  = msg.payload;\nvar configs = flow.get('arcgis_configs') || [];\nvar idx = configs.findIndex(function(c) {\n  return c.source.serviceUrl === config.source.serviceUrl\n      && c.source.layerId    === config.source.layerId;\n});\nif (idx >= 0) { configs[idx] = config; }\nelse           { configs.push(config); }\nflow.set('arcgis_configs', configs);\nmsg.payload = { ok: true, configCount: configs.length };\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 620,
    "wires": [
      [
        "ho_save"
      ]
    ]
  },
  {
    "id": "ho_save",
    "type": "http response",
    "z": "flow_arcgis_cfg",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 640,
    "y": 620,
    "wires": []
  },
  {
    "id": "hi_saveall",
    "type": "http in",
    "z": "flow_arcgis_cfg",
    "name": "POST /api/config/save-all",
    "url": "/api/config/save-all",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 660,
    "wires": [
      [
        "fn_saveall"
      ]
    ]
  },
  {
    "id": "fn_saveall",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Replace all configs",
    "func": "flow.set('arcgis_configs', msg.payload.configs || []);\nmsg.payload = { ok: true };\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 660,
    "wires": [
      [
        "ho_saveall"
      ]
    ]
  },
  {
    "id": "ho_saveall",
    "type": "http response",
    "z": "flow_arcgis_cfg",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 640,
    "y": 660,
    "wires": []
  },
  {
    "id": "hi_load",
    "type": "http in",
    "z": "flow_arcgis_cfg",
    "name": "GET /api/config/load",
    "url": "/api/config/load",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 700,
    "wires": [
      [
        "fn_load"
      ]
    ]
  },
  {
    "id": "fn_load",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Load from flow context",
    "func": "var configs = flow.get('arcgis_configs') || [];\nmsg.payload = { configs: configs };\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 700,
    "wires": [
      [
        "ho_load"
      ]
    ]
  },
  {
    "id": "ho_load",
    "type": "http response",
    "z": "flow_arcgis_cfg",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 640,
    "y": 700,
    "wires": []
  },
  {
    "id": "c_tak",
    "type": "comment",
    "z": "flow_arcgis_cfg",
    "name": "── TAK Settings ──",
    "info": "",
    "x": 240,
    "y": 780,
    "wires": []
  },
  {
    "id": "hi_tak_save",
    "type": "http in",
    "z": "flow_arcgis_cfg",
    "name": "POST /api/tak-settings/save",
    "url": "/api/tak-settings/save",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 220,
    "y": 820,
    "wires": [
      [
        "fn_tak_save"
      ]
    ]
  },
  {
    "id": "fn_tak_save",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Save TAK settings",
    "func": "flow.set('tak_settings', msg.payload);\nmsg.payload = { ok: true };\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 820,
    "wires": [
      [
        "ho_tak_save"
      ]
    ]
  },
  {
    "id": "ho_tak_save",
    "type": "http response",
    "z": "flow_arcgis_cfg",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 640,
    "y": 820,
    "wires": []
  },
  {
    "id": "hi_tak_load",
    "type": "http in",
    "z": "flow_arcgis_cfg",
    "name": "GET /api/tak-settings/load",
    "url": "/api/tak-settings/load",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 220,
    "y": 860,
    "wires": [
      [
        "fn_tak_load"
      ]
    ]
  },
  {
    "id": "fn_tak_load",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Load TAK settings",
    "func": "msg.payload = { settings: flow.get('tak_settings') || {} };\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 860,
    "wires": [
      [
        "ho_tak_load"
      ]
    ]
  },
  {
    "id": "ho_tak_load",
    "type": "http response",
    "z": "flow_arcgis_cfg",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 640,
    "y": 860,
    "wires": []
  },
  {
    "id": "hi_force_sub",
    "type": "http in",
    "z": "flow_arcgis_cfg",
    "name": "POST /api/tak/force-subscribe",
    "url": "/api/tak/force-subscribe",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 220,
    "y": 900,
    "wires": [
      [
        "fn_force_sub"
      ]
    ]
  },
  {
    "id": "fn_force_sub",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Clear mission subscribe cache",
    "func": "var sub = flow.get('_subscribed') || {};\nvar mn = (msg.payload && msg.payload.missionName) ? String(msg.payload.missionName).trim() : '';\nif (mn) {\n  delete sub[mn];\n  flow.set('_subscribed', sub);\n  msg.payload = { ok: true, cleared: mn };\n} else {\n  flow.set('_subscribed', {});\n  msg.payload = { ok: true, cleared: 'all' };\n}\nnode.warn('force-subscribe: next engine poll will PUT /subscription for ' + (mn || 'all missions'));\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 900,
    "wires": [
      [
        "ho_force_sub"
      ]
    ]
  },
  {
    "id": "ho_force_sub",
    "type": "http response",
    "z": "flow_arcgis_cfg",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 720,
    "y": 900,
    "wires": []
  },
  {
    "id": "tls_tak",
    "type": "tls-config",
    "name": "TAK Mission API TLS",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "",
    "keyname": "",
    "caname": "",
    "servername": "",
    "verifyservercert": false
  },
  {
    "id": "tls_tak_stream",
    "type": "tls-config",
    "name": "TAK Stream TLS",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "",
    "keyname": "",
    "caname": "",
    "servername": "",
    "verifyservercert": false
  },
  {
    "id": "eng_c0",
    "type": "comment",
    "z": "flow_arcgis_cfg",
    "name": "── SA Ident (must fire before any CoT) ──",
    "info": "",
    "x": 280,
    "y": 940,
    "wires": []
  },
  {
    "id": "eng_sa_inject",
    "type": "inject",
    "z": "flow_arcgis_cfg",
    "name": "SA ident (startup)",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "600",
    "crontab": "",
    "once": true,
    "onceDelay": "10",
    "topic": "sa-ident",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 970,
    "wires": [
      [
        "eng_sa_build"
      ]
    ]
  },
  {
    "id": "eng_sa_build",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Build SA ident CoT",
    "func": "var tak = flow.get('tak_settings') || {};\nvar configs = flow.get('arcgis_configs') || [];\nvar creatorUid = '';\nfor (var i = 0; i < configs.length; i++) {\n  if (configs[i].creatorUid) { creatorUid = String(configs[i].creatorUid).trim(); break; }\n}\nif (!creatorUid && tak.creatorUid) creatorUid = String(tak.creatorUid).trim();\nif (!creatorUid) { node.warn('No creatorUid found — SA ident skipped'); return null; }\n\nvar now = new Date();\nvar stale = new Date(now.getTime() + 120000);\nmsg.payload = {\n  event: {\n    _attributes: {\n      version: '2.0',\n      uid: creatorUid,\n      type: 'a-f-G-E-S',\n      how: 'h-g-i-g-o',\n      time: now.toISOString(),\n      start: now.toISOString(),\n      stale: stale.toISOString()\n    },\n    point: { _attributes: { lat: '0', lon: '0', hae: '0', ce: '9999999', le: '9999999' } },\n    detail: {\n      contact: [{ _attributes: { callsign: creatorUid } }],\n      __group: [{ _attributes: { name: 'Purple', role: 'Team Member' } }]\n    }\n  }\n};\nnode.warn('SA ident sent for uid: ' + creatorUid);\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 970,
    "wires": [
      [
        "eng_cot_to_xml"
      ]
    ]
  },
  {
    "id": "eng_c1",
    "type": "comment",
    "z": "flow_arcgis_cfg",
    "name": "── ArcGIS → TAK Sync Engine ──",
    "info": "",
    "x": 260,
    "y": 1020,
    "wires": []
  },
  {
    "id": "eng_inject",
    "type": "inject",
    "z": "flow_arcgis_cfg",
    "name": "Poll timer (60s base)",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "30",
    "topic": "poll",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 1060,
    "wires": [
      [
        "eng_load"
      ]
    ]
  },
  {
    "id": "eng_load",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Load configs (per-interval)",
    "func": "var configs = flow.get('arcgis_configs') || [];\nvar tak = flow.get('tak_settings') || {};\nif (configs.length === 0) { node.warn('No ArcGIS configs — open /configurator'); return null; }\nif (!tak.serverUrl) { node.warn('No TAK Server URL — open /configurator → TAK Settings'); return null; }\nvar lastPolls = flow.get('_lastPolls') || {};\nvar now = Date.now();\nvar out = [];\nfor (var i = 0; i < configs.length; i++) {\n  var c = configs[i];\n  if (!c.missionName) { continue; }\n  var cn = (c.configName && String(c.configName).trim()) ? String(c.configName).trim() : ('config-' + (i + 1));\n  var intervalMs = ((c.pollInterval || 5) * 60000);\n  var last = lastPolls[cn] || 0;\n  if (now - last < intervalMs) continue;\n  lastPolls[cn] = now;\n  out.push({ payload: c, takSettings: tak, topic: cn });\n}\nflow.set('_lastPolls', lastPolls);\nif (out.length === 0) return null;\nif (out.length > 0) {\n  var names = out.map(function(o) { return o.topic; });\n  node.warn('Polling: ' + names.join(', '));\n}\nreturn [out];",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 1060,
    "wires": [
      [
        "eng_build_q"
      ]
    ]
  },
  {
    "id": "eng_c2",
    "type": "comment",
    "z": "flow_arcgis_cfg",
    "name": "── Query ArcGIS features ──",
    "info": "",
    "x": 260,
    "y": 1120,
    "wires": []
  },
  {
    "id": "eng_build_q",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Build ArcGIS query",
    "func": "function ttlMs(c) {\n  var u = c.ttlUnit || 'hours';\n  var v;\n  if (c.ttlValue != null && c.ttlValue !== '') v = Number(c.ttlValue);\n  else if (c.ttlHours != null && c.ttlHours !== '') { v = Number(c.ttlHours); u = 'hours'; }\n  else return 0;\n  if (!(v > 0) || v !== v) return 0;\n  if (u === 'minutes') return v * 60 * 1000;\n  if (u === 'days') return v * 24 * 3600000;\n  return v * 3600000;\n}\nvar cfg = msg.payload;\nmsg.topic = (cfg.configName && String(cfg.configName).trim()) ? String(cfg.configName).trim() : 'unnamed';\nvar base = cfg.source.serviceUrl.replace(/\\/+$/, '');\nvar lid = cfg.source.layerId;\nvar parts = [];\nif (cfg.source.where) parts.push(cfg.source.where);\nif (cfg.mapping.timeField && ttlMs(cfg) > 0) {\n  var cutoffMs = Date.now() - ttlMs(cfg);\n  var cd = new Date(cutoffMs);\n  var y = cd.getUTCFullYear();\n  var mo = ('0' + (cd.getUTCMonth() + 1)).slice(-2);\n  var da = ('0' + cd.getUTCDate()).slice(-2);\n  parts.push(cfg.mapping.timeField + \" >= DATE '\" + y + '-' + mo + '-' + da + \"'\");\n}\nvar where = parts.length > 0 ? parts.join(' AND ') : '1=1';\nmsg.url = base + '/' + lid + '/query'\n  + '?where=' + encodeURIComponent(where)\n  + '&outFields=*&returnGeometry=true&outSR=4326&f=json';\nnode.warn('ArcGIS query where: ' + where);\nmsg._config = cfg;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 180,
    "y": 1160,
    "wires": [
      [
        "eng_http_ag"
      ]
    ]
  },
  {
    "id": "eng_http_ag",
    "type": "http request",
    "z": "flow_arcgis_cfg",
    "name": "GET ArcGIS features",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 400,
    "y": 1160,
    "wires": [
      [
        "eng_parse"
      ]
    ]
  },
  {
    "id": "eng_parse",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Parse & build CoT",
    "func": "var features = (msg.payload && msg.payload.features) || [];\nvar cfg = msg._config;\nmsg._arcgisStatus = msg.statusCode || 200;\nif (features.length === 0) {\n  node.warn(cfg.configName + ': 0 features from ArcGIS (status ' + msg._arcgisStatus + ')');\n  msg._features = [];\n  msg._config = cfg;\n  return msg;\n}\n\nfunction ttlMs(c) {\n  var u = c.ttlUnit || 'hours';\n  var v;\n  if (c.ttlValue != null && c.ttlValue !== '') v = Number(c.ttlValue);\n  else if (c.ttlHours != null && c.ttlHours !== '') { v = Number(c.ttlHours); u = 'hours'; }\n  else return 0;\n  if (!(v > 0) || v !== v) return 0;\n  if (u === 'minutes') return v * 60 * 1000;\n  if (u === 'days') return v * 24 * 3600000;\n  return v * 3600000;\n}\n\nfunction hexArgb(hex, a) {\n  var r = parseInt(hex.substr(1,2),16);\n  var g = parseInt(hex.substr(3,2),16);\n  var b = parseInt(hex.substr(5,2),16);\n  var ai = Math.round((a !== undefined ? a : 1) * 255);\n  return ((ai << 24) | (r << 16) | (g << 8) | b);\n}\n\nvar sColor = cfg.style.strokeColor || cfg.style.color || '#FF0000';\nvar fColor = cfg.style.fillColor || cfg.style.color || '#FF0000';\nvar strokeArgb = hexArgb(sColor, 1);\nvar rawAlpha = cfg.style.fillAlpha;\nvar fillAlphaFloat;\nif (typeof rawAlpha === 'number') fillAlphaFloat = rawAlpha / 100;\nelse if (typeof rawAlpha === 'string' && /^[0-9a-fA-F]{1,2}$/.test(rawAlpha)) fillAlphaFloat = parseInt(rawAlpha, 16) / 255;\nelse fillAlphaFloat = 0.33;\nvar fillArgb = hexArgb(fColor, fillAlphaFloat);\nvar now = new Date();\nvar tm = ttlMs(cfg);\nvar staleMs = tm > 0 ? tm : 3600000;\nvar stale = new Date(now.getTime() + staleMs);\nvar isPoly = cfg.source.geometryType !== 'esriGeometryPoint';\nvar cotType = isPoly ? 'u-d-f' : 'a-u-G';\n\nvar results = [];\nfor (var i = 0; i < features.length; i++) {\n  var f = features[i];\n  var a = f.attributes || {};\n  var g = f.geometry;\n  if (!g) continue;\n\n  var idVal = a[cfg.mapping.idField] || ('f' + i);\n  var uid = (cfg.uidPrefix || 'arcgis') + '-' + String(idVal).replace(/[^a-zA-Z0-9_.-]/g, '_');\n\n  var lat, lon;\n  if (isPoly && g.rings && g.rings[0]) {\n    var ring = g.rings[0]; var sx=0,sy=0;\n    for (var j=0;j<ring.length;j++) { sx+=ring[j][0]; sy+=ring[j][1]; }\n    lon = sx/ring.length; lat = sy/ring.length;\n  } else { lat = g.y || 0; lon = g.x || 0; }\n\n  var callsign = uid;\n  if (cfg.style.labelField && a[cfg.style.labelField] != null) callsign = String(a[cfg.style.labelField]);\n\n  function fmtVal(v) {\n    if (v == null) return '';\n    var n = Number(v);\n    if (!isNaN(n) && n > 1e12) {\n      var d = new Date(n);\n      var utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n      var pst = new Date(utc - 28800000);\n      var mo = ('0'+(pst.getMonth()+1)).slice(-2);\n      var da = ('0'+pst.getDate()).slice(-2);\n      var yr = pst.getFullYear();\n      var hr = ('0'+pst.getHours()).slice(-2);\n      var mi = ('0'+pst.getMinutes()).slice(-2);\n      return mo+'/'+da+'/'+yr+' '+hr+':'+mi+' PST';\n    }\n    if (!isNaN(n) && String(v).indexOf('.') !== -1) return String(Math.round(n));\n    return String(v);\n  }\n  var remarks = '';\n  if (cfg.remarksFields && cfg.remarksFields.length) {\n    var rp = [];\n    for (var k=0;k<cfg.remarksFields.length;k++) {\n      var fn = cfg.remarksFields[k];\n      rp.push(fn + ': ' + fmtVal(a[fn]));\n    }\n    remarks = rp.join(' | ');\n  }\n\n  var detail = {\n    contact: [{ _attributes: { callsign: callsign } }],\n    remarks: remarks,\n    strokeColor: [{ _attributes: { value: String(strokeArgb) } }],\n    strokeWeight: [{ _attributes: { value: String(cfg.style.strokeWeight || 3) + '.0' } }],\n    fillColor: [{ _attributes: { value: String(fillArgb) } }],\n    labels_on: [{ _attributes: { value: cfg.style.labelsOn ? 'true' : 'false' } }]\n  };\n\n  if (cfg.missionName) {\n    msg._missionName = cfg.missionName;\n  }\n\n  if (isPoly && g.rings && g.rings[0]) {\n    var links = [];\n    var ring = g.rings[0];\n    for (var j=0;j<ring.length;j++) links.push({ _attributes: { point: ring[j][1]+','+ring[j][0] } });\n    detail.link = links;\n  }\n\n  results.push({\n    uid: uid,\n    cot: {\n      event: {\n        _attributes: {\n          version: '2.0', uid: uid, type: cotType,\n          how: 'h-e',\n          time: now.toISOString(),\n          start: now.toISOString(),\n          stale: stale.toISOString()\n        },\n        point: { _attributes: { lat: String(lat), lon: String(lon), hae: '9999999.0', ce: '9999999.0', le: '9999999.0' } },\n        detail: detail\n      }\n    }\n  });\n}\n\nnode.warn(cfg.configName + ': ' + results.length + ' CoT events built from ' + features.length + ' features');\nmsg._features = results;\nmsg._config = cfg;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 1160,
    "wires": [
      [
        "eng_build_sub",
        "eng_build_m"
      ]
    ]
  },
  {
    "id": "eng_c3",
    "type": "comment",
    "z": "flow_arcgis_cfg",
    "name": "── Reconcile with TAK Mission ──",
    "info": "",
    "x": 260,
    "y": 1240,
    "wires": []
  },
  {
    "id": "eng_build_sub",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Build subscribe URL",
    "func": "var tak = msg.takSettings;\nvar cfg = msg._config;\nvar missionName = cfg.missionName;\nvar subscribed = flow.get('_subscribed') || {};\nif (subscribed[missionName]) return null;\nsubscribed[missionName] = Date.now();\nflow.set('_subscribed', subscribed);\nvar host = String(tak.serverUrl || '').replace(/^https?:\\/\\//i, '').replace(/\\/$/, '');\nvar creatorUid = String((cfg && cfg.creatorUid) || (tak && tak.creatorUid) || 'nodered').trim();\nmsg.url = 'https://' + host + ':' + (tak.missionApiPort || 8443)\n  + '/Marti/api/missions/' + encodeURIComponent(missionName)\n  + '/subscription?uid=' + encodeURIComponent(creatorUid);\nmsg.method = 'PUT';\nmsg.headers = { 'accept': '*/*', 'Content-Type': 'application/json' };\nif (tak && tak.missionBearerToken) {\n  msg.headers.Authorization = 'Bearer ' + String(tak.missionBearerToken).trim();\n}\nmsg.payload = '';\nnode.warn('Subscribing to ' + missionName + ' as ' + creatorUid);\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 180,
    "y": 1280,
    "wires": [
      [
        "eng_http_sub"
      ]
    ]
  },
  {
    "id": "eng_http_sub",
    "type": "http request",
    "z": "flow_arcgis_cfg",
    "name": "Subscribe to mission",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "tls_tak",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 380,
    "y": 1280,
    "wires": [
      [
        "eng_debug_sub"
      ]
    ]
  },
  {
    "id": "eng_build_m",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Build mission GET URL",
    "func": "var tak = msg.takSettings;\nvar cfg = msg._config;\nvar host = String(tak.serverUrl || '').replace(/^https?:\\/\\//i, '').replace(/\\/$/, '');\nfunction getJsid(m) {\n  if (m && m.responseCookies && m.responseCookies.JSESSIONID && m.responseCookies.JSESSIONID.value) {\n    return String(m.responseCookies.JSESSIONID.value);\n  }\n  var sc = m && m.headers && m.headers['set-cookie'];\n  if (Array.isArray(sc) && sc.length) {\n    var x = String(sc[0]).match(/JSESSIONID=([^;]+)/);\n    if (x && x[1]) return x[1];\n  }\n  if (typeof sc === 'string') {\n    var y = sc.match(/JSESSIONID=([^;]+)/);\n    if (y && y[1]) return y[1];\n  }\n  return '';\n}\nfunction getBearer(m, tk) {\n  if (tk && tk.missionBearerToken) return String(tk.missionBearerToken).trim();\n  if (m && m._missionBearer) return String(m._missionBearer).trim();\n  if (m && m.headers) {\n    var h = m.headers.authorization || m.headers.Authorization || '';\n    if (typeof h === 'string') {\n      var hm = h.match(/^Bearer\\s+(.+)$/i);\n      if (hm && hm[1]) return hm[1];\n    }\n  }\n  var p = m && m.payload;\n  if (typeof p === 'string') {\n    try { p = JSON.parse(p); } catch(e) { p = null; }\n  }\n  if (p && typeof p === 'object') {\n    if (typeof p.token === 'string') return p.token;\n    if (typeof p.accessToken === 'string') return p.accessToken;\n    if (p.data && typeof p.data.token === 'string') return p.data.token;\n  }\n  return '';\n}\nmsg.url = 'https://' + host + ':' + (tak.missionApiPort || 8443)\n  + '/Marti/api/missions/' + encodeURIComponent(cfg.missionName);\nvar jsid = getJsid(msg);\nif (jsid) msg._missionCookie = 'JSESSIONID=' + jsid;\nvar bearer = getBearer(msg, tak);\nif (bearer) msg._missionBearer = bearer;\nmsg.headers = { 'accept': '*/*' };\nif (msg._missionCookie) msg.headers.Cookie = msg._missionCookie;\nif (msg._missionBearer) msg.headers.Authorization = 'Bearer ' + msg._missionBearer;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 1280,
    "wires": [
      [
        "eng_http_m"
      ]
    ]
  },
  {
    "id": "eng_http_m",
    "type": "http request",
    "z": "flow_arcgis_cfg",
    "name": "GET mission",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "tls_tak",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 740,
    "y": 1280,
    "wires": [
      [
        "eng_reconcile"
      ]
    ]
  },
  {
    "id": "eng_reconcile",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Reconcile (diff)",
    "func": "var features = msg._features || [];\nvar mData = msg.payload;\nvar cfg = msg._config;\nvar tak = msg.takSettings;\nvar topicCfg = (cfg && cfg.configName && String(cfg.configName).trim()) ? String(cfg.configName).trim() : 'unnamed';\nmsg.topic = topicCfg;\nvar prefix = cfg.uidPrefix || 'arcgis';\nvar arcgisOk = !msg._arcgisStatus || msg._arcgisStatus === 200;\n\n// Extract existing UIDs from mission response\nvar existing = {};\ntry {\n  var mission = null;\n  if (mData && mData.data) {\n    mission = Array.isArray(mData.data) ? mData.data[0] : mData.data;\n  }\n  if (mission) {\n    if (mission.uids) {\n      for (var i=0;i<mission.uids.length;i++) {\n        var u = mission.uids[i];\n        var uid = (typeof u === 'string') ? u : (u.data || u.uid || u);\n        if (typeof uid === 'string') existing[uid] = true;\n      }\n    }\n    if (mission.contents) {\n      for (var i=0;i<mission.contents.length;i++) {\n        var c = mission.contents[i];\n        if (c.data && c.data.uid) existing[c.data.uid] = true;\n      }\n    }\n  }\n} catch(e) { node.warn('Could not parse mission contents (new mission?): ' + e.message); }\n\nvar arcgis = {};\nfor (var i=0;i<features.length;i++) arcgis[features[i].uid] = features[i];\n\nvar host = String(tak.serverUrl || '').replace(/^https?:\\/\\//i, '').replace(/\\/$/, '');\nvar baseUrl = 'https://' + host + ':' + (tak.missionApiPort || 8443)\n  + '/Marti/api/missions/' + encodeURIComponent(cfg.missionName);\n// Per-config creatorUid (Portal integration user); legacy: tak_settings.creatorUid; default nodered\nvar creatorUidRaw = String((cfg && cfg.creatorUid) || (tak && tak.creatorUid) || 'nodered').trim();\nvar creator = encodeURIComponent(creatorUidRaw);\n\nvar nPut = 0, nDel = 0;\nvar cookie = msg._missionCookie || '';\nvar bearer = msg._missionBearer || '';\nif (!cookie && msg.responseCookies && msg.responseCookies.JSESSIONID && msg.responseCookies.JSESSIONID.value) {\n  cookie = 'JSESSIONID=' + String(msg.responseCookies.JSESSIONID.value);\n}\nif (!cookie && msg.headers && msg.headers['set-cookie']) {\n  var sc = msg.headers['set-cookie'];\n  if (Array.isArray(sc) && sc.length) {\n    var a = String(sc[0]).match(/JSESSIONID=([^;]+)/);\n    if (a && a[1]) cookie = 'JSESSIONID=' + a[1];\n  } else if (typeof sc === 'string') {\n    var b = sc.match(/JSESSIONID=([^;]+)/);\n    if (b && b[1]) cookie = 'JSESSIONID=' + b[1];\n  }\n}\n\n// Stream CoT for ALL features (keeps TAK Server cache fresh);\n// only send DataSync PUT for UIDs not already in mission\nvar nStream = 0;\nfor (var uid in arcgis) {\n  nStream++;\n  var isNew = !existing[uid];\n  if (isNew) nPut++;\n  node.send([\n    { payload: arcgis[uid].cot, topic: topicCfg,\n      host: host,\n      port: Number(tak.streamingPort || tak.streamPort || tak.takPort || 8089),\n      _missionCookie: cookie,\n      _missionBearer: bearer,\n      _putUrl: isNew ? baseUrl + '/contents?creatorUid=' + creator : '',\n      _putUid: isNew ? uid : '' },\n    null\n  ]);\n}\n\n// Stale UIDs → DELETE (port 1) — only if ArcGIS returned valid data\nif (!arcgisOk) {\n  node.warn(topicCfg + ': ArcGIS fetch failed (status ' + msg._arcgisStatus + ') — skipping deletes to protect mission data');\n} else {\n  for (var uid in existing) {\n    if (uid.indexOf(prefix) === 0 && !arcgis[uid]) {\n      nDel++;\n      node.send([null, {\n        method: 'DELETE',\n        url: baseUrl + '/contents?uid=' + encodeURIComponent(uid) + '&creatorUid=' + creator,\n        headers: { 'accept': '*/*' },\n        _missionCookie: cookie,\n        _missionBearer: bearer,\n        payload: '',\n        topic: topicCfg\n      }]);\n    }\n  }\n}\n\nnode.warn(cfg.configName + ' reconcile: ' + nStream + ' streamed, ' + nPut + ' PUT, ' + nDel + ' DELETE, '\n  + Object.keys(arcgis).length + ' ArcGIS, ' + Object.keys(existing).length + ' in mission');\nreturn null;",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 1280,
    "wires": [
      [
        "eng_debug_cot",
        "eng_cot_to_xml",
        "eng_delay_put"
      ],
      [
        "eng_delay_del"
      ]
    ]
  },
  {
    "id": "eng_c4",
    "type": "comment",
    "z": "flow_arcgis_cfg",
    "name": "── CoT output → wire TAK node + tcp out here ──",
    "info": "",
    "x": 280,
    "y": 1360,
    "wires": []
  },
  {
    "id": "eng_debug_cot",
    "type": "debug",
    "z": "flow_arcgis_cfg",
    "name": "CoT JSON",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "topic",
    "statusType": "auto",
    "x": 200,
    "y": 1400,
    "wires": []
  },
  {
    "id": "eng_tak",
    "type": "tak",
    "z": "flow_arcgis_cfg",
    "name": "CoT encode",
    "x": 200,
    "y": 1440,
    "wires": [
      [
        "eng_tcp_out"
      ]
    ]
  },
  {
    "id": "eng_tcp_out",
    "type": "tcp out",
    "z": "flow_arcgis_cfg",
    "name": "CoT stream to TAK",
    "host": "host.docker.internal",
    "port": "7001",
    "beserver": "client",
    "base64": false,
    "end": false,
    "tls": "tls_tak_stream",
    "x": 410,
    "y": 1440,
    "wires": []
  },
  {
    "id": "eng_status_stream",
    "type": "status",
    "z": "flow_arcgis_cfg",
    "name": "Stream status",
    "scope": [
      "eng_tcp_out"
    ],
    "x": 410,
    "y": 1480,
    "wires": [
      [
        "eng_debug_stream"
      ]
    ]
  },
  {
    "id": "eng_catch_stream",
    "type": "catch",
    "z": "flow_arcgis_cfg",
    "name": "Stream errors",
    "scope": [
      "eng_tcp_out",
      "eng_tak"
    ],
    "uncaught": false,
    "x": 180,
    "y": 1520,
    "wires": [
      [
        "eng_debug_stream"
      ]
    ]
  },
  {
    "id": "eng_debug_stream",
    "type": "debug",
    "z": "flow_arcgis_cfg",
    "name": "TAK stream status/error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 640,
    "y": 1480,
    "wires": []
  },
  {
    "id": "eng_debug_sub",
    "type": "debug",
    "z": "flow_arcgis_cfg",
    "name": "Mission subscribe result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "topic",
    "statusType": "auto",
    "x": 620,
    "y": 1240,
    "wires": []
  },
  {
    "id": "eng_cot_to_xml",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "CoT JSON → XML",
    "func": "var e = msg.payload && msg.payload.event;\nif (!e || !e._attributes) return null;\nvar a = e._attributes;\nvar p = e.point._attributes;\nvar d = e.detail || {};\n\nvar xml = '<?xml version=\"1.0\" encoding=\"UTF-8\"?>'\n  + '<event version=\"' + a.version + '\" uid=\"' + a.uid + '\" type=\"' + a.type + '\"'\n  + ' how=\"' + a.how + '\" time=\"' + a.time + '\" start=\"' + a.start + '\" stale=\"' + a.stale + '\">'\n  + '<point lat=\"' + p.lat + '\" lon=\"' + p.lon + '\" hae=\"' + p.hae + '\" ce=\"' + p.ce + '\" le=\"' + p.le + '\"/>'\n  + '<detail>';\n\nif (d.contact && d.contact[0]) xml += '<contact callsign=\"' + d.contact[0]._attributes.callsign + '\"/>';\nif (d.remarks != null) xml += '<remarks>' + String(d.remarks).replace(/&/g,'&amp;').replace(/</g,'&lt;') + '</remarks>';\nif (d.strokeColor && d.strokeColor[0]) xml += '<strokeColor value=\"' + d.strokeColor[0]._attributes.value + '\"/>';\nif (d.strokeWeight && d.strokeWeight[0]) xml += '<strokeWeight value=\"' + d.strokeWeight[0]._attributes.value + '\"/>';\nif (d.fillColor && d.fillColor[0]) xml += '<fillColor value=\"' + d.fillColor[0]._attributes.value + '\"/>';\nif (d.labels_on && d.labels_on[0]) xml += '<labels_on value=\"' + d.labels_on[0]._attributes.value + '\"/>';\n\nif (d.link && d.link.length) {\n  for (var i = 0; i < d.link.length; i++) {\n    xml += '<link point=\"' + d.link[i]._attributes.point + '\"/>';\n  }\n}\n\nxml += '</detail></event>';\n\nmsg.payload = Buffer.from(xml, 'utf8');\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 200,
    "y": 1560,
    "wires": [
      [
        "eng_tcp_out",
        "eng_debug_xml"
      ]
    ]
  },
  {
    "id": "eng_debug_xml",
    "type": "debug",
    "z": "flow_arcgis_cfg",
    "name": "XML sent to TAK",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "topic",
    "statusType": "auto",
    "x": 440,
    "y": 1560,
    "wires": []
  },
  {
    "id": "eng_delay_put",
    "type": "delay",
    "z": "flow_arcgis_cfg",
    "name": "Wait 5s for CoT",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 200,
    "y": 1480,
    "wires": [
      [
        "eng_build_put"
      ]
    ]
  },
  {
    "id": "eng_build_put",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Build PUT (after delay)",
    "func": "if (!msg._putUrl || !msg._putUid) return null;\nmsg.method = 'PUT';\nmsg.url = msg._putUrl;\nmsg.headers = { 'accept': '*/*', 'Content-Type': 'application/json' };\nif (msg._missionCookie) msg.headers.Cookie = msg._missionCookie;\nif (msg._missionBearer) msg.headers.Authorization = 'Bearer ' + msg._missionBearer;\nmsg.payload = JSON.stringify({ uids: [msg._putUid] });\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 1480,
    "wires": [
      [
        "eng_http_action"
      ]
    ]
  },
  {
    "id": "eng_delay_del",
    "type": "delay",
    "z": "flow_arcgis_cfg",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 280,
    "y": 1520,
    "wires": [
      [
        "eng_http_action"
      ]
    ]
  },
  {
    "id": "eng_http_action",
    "type": "http request",
    "z": "flow_arcgis_cfg",
    "name": "Mission API (PUT/DELETE)",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "tls_tak",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 460,
    "y": 1400,
    "wires": [
      [
        "eng_log_action"
      ]
    ]
  },
  {
    "id": "eng_log_action",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Log API result",
    "func": "var code = msg.statusCode || '?';\nvar method = msg.method || '?';\nvar feed = msg.topic || 'unknown';\nvar ok = (code >= 200 && code < 300);\nvar label = feed + ' ' + method + ' → ' + code + (ok ? ' ✓' : ' ✗');\nif (!ok) {\n  var body = (typeof msg.payload === 'string') ? msg.payload.substring(0, 200) : '';\n  node.warn(label + (body ? ' — ' + body : ''));\n} else {\n  node.warn(label);\n}\nmsg._apiResult = label;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 1400,
    "wires": [
      [
        "eng_debug_action"
      ]
    ]
  },
  {
    "id": "eng_debug_action",
    "type": "debug",
    "z": "flow_arcgis_cfg",
    "name": "Mission API result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "_apiResult",
    "targetType": "msg",
    "statusVal": "_apiResult",
    "statusType": "auto",
    "x": 860,
    "y": 1400,
    "wires": []
  }
]