nodered/flows.json
[
  {
    "id": "flow_arcgis_cfg",
    "type": "tab",
    "label": "ArcGIS Configurator",
    "disabled": false,
    "info": "Guided ArcGIS Feature Service → TAK CoT configuration tool.\nOpen /configurator in your browser after deploying."
  },
  {
    "id": "c_ui",
    "type": "comment",
    "z": "flow_arcgis_cfg",
    "name": "── Configurator UI (/configurator) ──",
    "info": "",
    "x": 240,
    "y": 40,
    "wires": []
  },
  {
    "id": "hi_ui",
    "type": "http in",
    "z": "flow_arcgis_cfg",
    "name": "GET /configurator",
    "url": "/configurator",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 80,
    "wires": [
      [
        "t_ui"
      ]
    ]
  },
  {
    "id": "t_ui",
    "type": "template",
    "z": "flow_arcgis_cfg",
    "name": "Configurator HTML",
    "field": "payload",
    "fieldType": "msg",
    "format": "html",
    "syntax": "plain",
    "template": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>ArcGIS → TAK Configurator</title>\n<style>\n  * { box-sizing: border-box; margin: 0; padding: 0; }\n  body {\n    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;\n    background: #1a1a2e; color: #e0e0e0; padding: 1rem;\n  }\n  .container { width: 100%; max-width: none; margin: 0; }\n  h1 { color: #fff; margin-bottom: 0.3rem; font-size: 1.5rem; }\n  .subtitle { color: #888; margin-bottom: 1.5rem; font-size: 0.85rem; }\n\n  .step {\n    background: #16213e; border-radius: 8px; padding: 1.5rem;\n    margin-bottom: 1rem; border-left: 3px solid #0f3460;\n    transition: opacity 0.3s;\n  }\n  .step h2 {\n    color: #2ec4b6; font-size: 0.85rem; margin-bottom: 1rem;\n    text-transform: uppercase; letter-spacing: 0.05em;\n  }\n  .step.disabled { opacity: 0.35; pointer-events: none; }\n\n  label { display: block; font-size: 0.85rem; color: #a0a0b0; margin-bottom: 0.3rem; }\n  input[type=\"text\"], input[type=\"number\"], select {\n    width: 100%; padding: 0.6rem; background: #0f3460;\n    border: 1px solid #1a1a4e; border-radius: 4px;\n    color: #fff; font-size: 0.95rem;\n  }\n  input:focus, select:focus { outline: none; border-color: #2ec4b6; }\n\n  button {\n    padding: 0.6rem 1.5rem; background: #2ec4b6; color: #fff;\n    border: none; border-radius: 4px; cursor: pointer; font-size: 0.95rem;\n    transition: background 0.2s;\n  }\n  button:hover { background: #1a9e92; }\n  button:disabled { background: #555; cursor: not-allowed; }\n  .btn-secondary { background: #0f3460; }\n  .btn-secondary:hover { background: #1a4a7a; }\n\n  .row { display: flex; gap: 1rem; align-items: end; }\n  .grow { flex: 1; }\n  .field-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 1rem; }\n\n  .sample-wrap { overflow-x: auto; margin-top: 1rem; }\n  .sample-table {\n    border-collapse: collapse; font-size: 0.78rem; white-space: nowrap;\n  }\n  .sample-table th, .sample-table td {\n    padding: 0.35rem 0.6rem; border: 1px solid #1a1a4e; text-align: left;\n  }\n  .sample-table th { background: #0f3460; position: sticky; top: 0; }\n  .sample-table tr:hover td { background: #1a2a4e; }\n  .sample-table .hi { background: #2ec4b622; }\n\n  .config-output {\n    background: #0a0a1a; padding: 1rem; border-radius: 4px;\n    font-family: 'SF Mono', Menlo, monospace; font-size: 0.85rem;\n    white-space: pre-wrap; max-height: 400px; overflow-y: auto;\n    margin-top: 1rem; border: 1px solid #1a1a4e;\n  }\n\n  .badge {\n    display: inline-block; padding: 0.1rem 0.45rem; border-radius: 3px;\n    font-size: 0.7rem; margin-left: 0.4rem; vertical-align: middle;\n  }\n  .badge-oid  { background: #2ec4b6; color: #fff; }\n  .badge-date { background: #0f9b58; color: #fff; }\n  .badge-geom { background: #4285f4; color: #fff; }\n\n  .status {\n    padding: 0.5rem; border-radius: 4px; margin-top: 0.5rem; font-size: 0.85rem;\n  }\n  .status.ok    { background: #0f9b5822; border: 1px solid #0f9b58; color: #7fdb9a; }\n  .status.error { background: #cf664522; border: 1px solid #cf6645; color: #f0b0a0; }\n\n  .color-row { display: flex; gap: 0.5rem; align-items: center; }\n  .color-swatch {\n    width: 28px; height: 28px; border-radius: 4px;\n    border: 1px solid #333; flex-shrink: 0;\n  }\n\n  .spinner {\n    display: inline-block; width: 14px; height: 14px;\n    border: 2px solid #fff3; border-top-color: #fff;\n    border-radius: 50%; animation: spin 0.6s linear infinite;\n    margin-left: 0.5rem; vertical-align: middle;\n  }\n  @keyframes spin { to { transform: rotate(360deg); } }\n\n  .cb-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 0.3rem; }\n  .cb-item {\n    display: flex; align-items: center; gap: 0.5rem;\n    padding: 0.4rem 0.6rem; border-radius: 4px; cursor: pointer;\n    font-size: 0.85rem; transition: background 0.15s;\n  }\n  .cb-item:hover { background: #1a2a4e; }\n  .cb-item input[type=\"checkbox\"] { accent-color: #2ec4b6; width: 16px; height: 16px; }\n  .cb-item.checked { background: #2ec4b618; }\n  .cb-actions { margin-top: 0.5rem; display: flex; gap: 0.5rem; }\n  .cb-actions button { padding: 0.3rem 0.8rem; font-size: 0.78rem; }\n\n  .filter-tag {\n    display: inline-flex; align-items: center; gap: 0.4rem;\n    background: #2ec4b620; border: 1px solid #2ec4b6; color: #2ec4b6;\n    padding: 0.35rem 0.7rem; border-radius: 16px; font-size: 0.85rem;\n  }\n  .filter-tag .x {\n    cursor: pointer; font-weight: bold; font-size: 1rem; line-height: 1;\n    opacity: 0.7; transition: opacity 0.15s;\n  }\n  .filter-tag .x:hover { opacity: 1; }\n</style>\n</head>\n<body>\n<div class=\"container\">\n  <h1 style=\"display:flex;align-items:center;gap:0.6rem\">\n    <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"32\" height=\"32\" viewBox=\"0 0 32 32\" fill=\"none\">\n      <circle cx=\"16\" cy=\"16\" r=\"15\" stroke=\"#2ec4b6\" stroke-width=\"1.5\"/>\n      <ellipse cx=\"16\" cy=\"16\" rx=\"8\" ry=\"15\" stroke=\"#2ec4b6\" stroke-width=\"1.2\"/>\n      <line x1=\"1\" y1=\"10\" x2=\"31\" y2=\"10\" stroke=\"#2ec4b6\" stroke-width=\"1\"/>\n      <line x1=\"1\" y1=\"22\" x2=\"31\" y2=\"22\" stroke=\"#2ec4b6\" stroke-width=\"1\"/>\n      <line x1=\"16\" y1=\"1\" x2=\"16\" y2=\"31\" stroke=\"#2ec4b6\" stroke-width=\"1\"/>\n    </svg>\n    <span>ArcGIS &rarr; TAK Configurator</span>\n  </h1>\n  <p class=\"subtitle\">Paste a Feature Service URL, pick your layer &amp; fields, generate config for the sync engine.</p>\n\n  <div id=\"savedConfigBar\" style=\"display:none;margin-bottom:1rem;padding:0.8rem;background:#0f3460;border-radius:6px\">\n    <div class=\"row\">\n      <div class=\"grow\">\n        <label for=\"savedConfigSelect\" style=\"margin-bottom:0.3rem\">Saved configurations</label>\n        <select id=\"savedConfigSelect\" onchange=\"loadSavedConfig()\">\n          <option value=\"\">— New config —</option>\n        </select>\n      </div>\n      <button class=\"btn-secondary\" onclick=\"deleteSavedConfig()\" style=\"margin-top:1.2rem\">Delete</button>\n    </div>\n  </div>\n\n  <!-- Step 1 -->\n  <div class=\"step\" id=\"step1\">\n    <h2>1. Feature Service URL</h2>\n    <div class=\"row\">\n      <div class=\"grow\">\n        <label for=\"serviceUrl\">ArcGIS Feature Service or Layer URL</label>\n        <input type=\"text\" id=\"serviceUrl\"\n               placeholder=\"https://services.arcgis.com/…/FeatureServer\">\n      </div>\n      <button id=\"btnFetch\" onclick=\"fetchService()\">Fetch</button>\n    </div>\n    <div id=\"svcStatus\"></div>\n  </div>\n\n  <!-- Step 2 -->\n  <div class=\"step disabled\" id=\"step2\">\n    <h2>2. Select Layer</h2>\n    <label for=\"layerSelect\">Layer</label>\n    <select id=\"layerSelect\" onchange=\"fetchLayer()\">\n      <option value=\"\">-- fetch service first --</option>\n    </select>\n    <div id=\"layerStatus\"></div>\n  </div>\n\n  <!-- Step 3 -->\n  <div class=\"step disabled\" id=\"step3\">\n    <h2>3. Field Mapping</h2>\n    <div class=\"field-grid\">\n      <div>\n        <label for=\"idField\">Stable ID field <span class=\"badge badge-oid\">suggested: OID / GlobalID</span></label>\n        <select id=\"idField\"></select>\n      </div>\n      <div>\n        <label for=\"timeField\">Time field <span class=\"badge badge-date\">suggested: Date type</span></label>\n        <select id=\"timeField\"><option value=\"\">(none)</option></select>\n      </div>\n    </div>\n    <div style=\"margin-top:1rem\">\n      <label>Detected geometry <span class=\"badge badge-geom\" id=\"geomBadge\"></span></label>\n    </div>\n    <div id=\"sampleData\"></div>\n  </div>\n\n  <!-- Step 3b: Filter -->\n  <div class=\"step disabled\" id=\"step3b\">\n    <h2>3b. Source Filter</h2>\n    <label>Select from current sources and/or type additional source names below. Only checked/added sources will sync.</label>\n\n    <div class=\"field-grid\" style=\"margin-top:0.8rem\">\n      <div>\n        <label for=\"filterField\">Load values from field</label>\n        <select id=\"filterField\" onchange=\"fetchDistinct()\">\n          <option value=\"\">(none)</option>\n        </select>\n      </div>\n      <div>\n        <button id=\"btnDistinct\" onclick=\"fetchDistinct()\" style=\"margin-top:1.4rem\" disabled>Load Values</button>\n      </div>\n    </div>\n    <div id=\"filterStatus\"></div>\n    <div id=\"distinctValues\" style=\"margin-top:0.8rem;max-height:260px;overflow-y:auto\"></div>\n\n    <div style=\"margin-top:1rem;border-top:1px solid #1a1a4e;padding-top:1rem\">\n      <label>Add source manually (for sources not currently in the data)</label>\n      <div class=\"row\" style=\"margin-top:0.4rem\">\n        <div class=\"grow\">\n          <input type=\"text\" id=\"filterInput\" placeholder=\"e.g. FIRIS, CAL FIRE INTEL FLIGHT DATA\"\n                 onkeydown=\"if(event.key==='Enter'){event.preventDefault();addManualFilter();}\">\n        </div>\n        <button onclick=\"addManualFilter()\">Add</button>\n      </div>\n      <div id=\"manualTags\"></div>\n    </div>\n\n    <div style=\"margin-top:1rem;border-top:1px solid #1a1a4e;padding-top:1rem\">\n      <label>Selected sources</label>\n      <div id=\"allSelectedTags\" style=\"display:flex;flex-wrap:wrap;gap:0.4rem;margin-top:0.4rem\"></div>\n    </div>\n    <div style=\"margin-top:0.8rem;font-size:0.8rem;color:#888\" id=\"filterPreview\"></div>\n  </div>\n\n  <!-- Step 4 -->\n  <div class=\"step disabled\" id=\"step4\">\n    <h2>4. Shape Style, Remarks &amp; TTL</h2>\n\n    <div class=\"field-grid\">\n      <div>\n        <label for=\"shapeColor\">Shape color</label>\n        <div class=\"color-row\">\n          <input type=\"color\" id=\"shapeColorPick\" value=\"#FF0000\"\n                 oninput=\"document.getElementById('shapeColor').value=this.value;updSwatch('swColor',this.value)\">\n          <input type=\"text\" id=\"shapeColor\" value=\"#FF0000\" style=\"width:110px\"\n                 oninput=\"updSwatch('swColor',this.value);document.getElementById('shapeColorPick').value=this.value\">\n          <div class=\"color-swatch\" id=\"swColor\" style=\"background:#FF0000\"></div>\n        </div>\n      </div>\n      <div>\n        <label for=\"fillAlpha\">Fill opacity</label>\n        <select id=\"fillAlpha\">\n          <option value=\"00\">0% — No fill</option>\n          <option value=\"33\">20%</option>\n          <option value=\"55\" selected>33%</option>\n          <option value=\"80\">50%</option>\n          <option value=\"AA\">67%</option>\n          <option value=\"FF\">100% — Solid fill</option>\n        </select>\n      </div>\n      <div>\n        <label for=\"strokeWeight\">Line thickness (px)</label>\n        <select id=\"strokeWeight\">\n          <option value=\"1\">1 — Thin</option>\n          <option value=\"2\">2 — Light</option>\n          <option value=\"3\" selected>3 — Normal</option>\n          <option value=\"5\">5 — Medium</option>\n          <option value=\"8\">8 — Heavy</option>\n        </select>\n      </div>\n      <div>\n        <label for=\"strokeStyle\">Line style</label>\n        <select id=\"strokeStyle\">\n          <option value=\"solid\">Solid</option>\n          <option value=\"dashed\">Dashed</option>\n          <option value=\"dotted\">Dotted</option>\n          <option value=\"outlined\">Outlined</option>\n        </select>\n      </div>\n    </div>\n\n    <div class=\"field-grid\" style=\"margin-top:1rem\">\n      <div>\n        <label for=\"closedShape\">Shape closed</label>\n        <select id=\"closedShape\">\n          <option value=\"true\" selected>Yes — Closed polygon</option>\n          <option value=\"false\">No — Open polyline</option>\n        </select>\n      </div>\n      <div>\n        <label for=\"labelsOn\">Show label on map</label>\n        <select id=\"labelsOn\">\n          <option value=\"true\">Yes</option>\n          <option value=\"false\" selected>No</option>\n        </select>\n      </div>\n      <div>\n        <label for=\"labelField\">Label field (callsign)</label>\n        <select id=\"labelField\">\n          <option value=\"\">(none)</option>\n        </select>\n      </div>\n      <div>\n        <label for=\"uidPrefix\">UID prefix</label>\n        <input type=\"text\" id=\"uidPrefix\" value=\"arcgis-\" placeholder=\"arcgis-\">\n      </div>\n    </div>\n\n    <div style=\"margin-top:1rem\">\n      <label for=\"remarksTemplate\">Remarks template (use {FieldName} to insert ArcGIS values)</label>\n      <input type=\"text\" id=\"remarksTemplate\" style=\"font-family:monospace\"\n             value=\"Source: {source} | Mission: {mission} | Incident: {IncidentName} | {irwin_POOProtectingUnit}\"\n             placeholder=\"Source: {source} | Mission: {mission}\">\n      <div style=\"margin-top:0.3rem;font-size:0.75rem;color:#666\">\n        Available fields from your layer will populate {FieldName} at runtime\n      </div>\n    </div>\n\n    <div class=\"field-grid\" style=\"margin-top:1rem\">\n      <div>\n        <label for=\"ttlHours\">TTL hours (0 = no expiry)</label>\n        <input type=\"number\" id=\"ttlHours\" value=\"72\" min=\"0\">\n      </div>\n    </div>\n  </div>\n\n  <!-- Step 5 -->\n  <div class=\"step disabled\" id=\"step5\">\n    <h2>5. Generate Config</h2>\n    <div class=\"row\">\n      <button onclick=\"generateConfig()\">Generate Config JSON</button>\n      <button class=\"btn-secondary\" onclick=\"copyConfig()\">Copy to Clipboard</button>\n      <button class=\"btn-secondary\" onclick=\"downloadConfig()\">Download</button>\n    </div>\n    <div id=\"saveStatus\"></div>\n    <div class=\"config-output\" id=\"configOutput\"></div>\n  </div>\n</div>\n\n<script>\nconst state = {\n  serviceUrl: '',\n  layers: [],\n  selectedLayer: null,\n  layerName: '',\n  fields: [],\n  geometryType: '',\n  sampleFeatures: []\n};\n\nfunction updSwatch(id, v) {\n  document.getElementById(id).style.background = v;\n}\n\nfunction enable(n) {\n  document.getElementById('step' + n).classList.remove('disabled');\n}\n\nfunction status(id, msg, ok) {\n  document.getElementById(id).innerHTML =\n    '<div class=\"status ' + (ok ? 'ok' : 'error') + '\">' + msg + '</div>';\n}\n\nfunction setLoading(btnId, loading) {\n  const btn = document.getElementById(btnId);\n  if (loading) {\n    btn.disabled = true;\n    btn._orig = btn.innerHTML;\n    btn.innerHTML += '<span class=\"spinner\"></span>';\n  } else {\n    btn.disabled = false;\n    btn.innerHTML = btn._orig || btn.innerHTML.replace(/<span.*<\\/span>/, '');\n  }\n}\n\n/* ── Step 1: Fetch service ── */\nasync function fetchService() {\n  const raw = document.getElementById('serviceUrl').value.trim();\n  if (!raw) return;\n  state.serviceUrl = raw.replace(/\\/+$/, '');\n  setLoading('btnFetch', true);\n\n  try {\n    const res = await fetch('/api/arcgis/service', {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ url: state.serviceUrl })\n    });\n    const data = await res.json();\n    if (data.error) { status('svcStatus', 'Error: ' + data.error, false); return; }\n\n    state.layers = data.layers || [];\n    const sel = document.getElementById('layerSelect');\n    sel.innerHTML = '<option value=\"\">-- select a layer --</option>';\n    state.layers.forEach(function(l) {\n      var gt = l.geometryType ? l.geometryType.replace('esriGeometry', '') : 'Table';\n      sel.innerHTML += '<option value=\"' + l.id + '\">' + l.id + ': ' + l.name + ' (' + gt + ')</option>';\n    });\n\n    status('svcStatus', 'Found ' + state.layers.length + ' layer(s)', true);\n    enable(2);\n  } catch (e) {\n    status('svcStatus', 'Fetch failed: ' + e.message, false);\n  } finally {\n    setLoading('btnFetch', false);\n  }\n}\n\n/* ── Step 2: Fetch layer detail + sample ── */\nasync function fetchLayer() {\n  var layerId = document.getElementById('layerSelect').value;\n  if (layerId === '') return;\n  state.selectedLayer = layerId;\n\n  try {\n    var results = await Promise.all([\n      fetch('/api/arcgis/layer', {\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify({ url: state.serviceUrl, layerId: layerId })\n      }),\n      fetch('/api/arcgis/sample', {\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify({ url: state.serviceUrl, layerId: layerId })\n      })\n    ]);\n\n    var layerData  = await results[0].json();\n    var sampleData = await results[1].json();\n    if (layerData.error) { status('layerStatus', 'Error: ' + layerData.error, false); return; }\n\n    state.fields         = layerData.fields || [];\n    state.geometryType   = layerData.geometryType || 'unknown';\n    state.layerName      = layerData.name || '';\n    state.sampleFeatures = (sampleData.features || []).slice(0, 5);\n\n    /* populate field dropdowns */\n    var idSel   = document.getElementById('idField');\n    var timeSel = document.getElementById('timeField');\n    idSel.innerHTML   = '';\n    timeSel.innerHTML  = '<option value=\"\">(none &mdash; no time filter)</option>';\n\n    state.fields.forEach(function(f) {\n      var short = f.type.replace('esriFieldType', '');\n      var isId   = (f.type === 'esriFieldTypeOID' || f.type === 'esriFieldTypeGlobalID');\n      var isDate = (f.type === 'esriFieldTypeDate');\n      var tag    = isId ? ' << ID' : isDate ? ' << Date' : '';\n\n      idSel.innerHTML += '<option value=\"' + f.name + '\"' + (isId ? ' selected' : '') + '>'\n                         + f.name + ' (' + short + ')' + tag + '</option>';\n      timeSel.innerHTML += '<option value=\"' + f.name + '\"' + (isDate ? ' selected' : '') + '>'\n                           + f.name + ' (' + short + ')' + (isDate ? ' << Date' : '') + '</option>';\n    });\n\n    document.getElementById('geomBadge').textContent =\n      state.geometryType.replace('esriGeometry', '');\n\n    /* sample data table */\n    if (state.sampleFeatures.length) {\n      var keys = Object.keys(state.sampleFeatures[0].attributes);\n      var html = '<div class=\"sample-wrap\"><table class=\"sample-table\"><tr>';\n      keys.forEach(function(k) { html += '<th>' + k + '</th>'; });\n      html += '</tr>';\n      state.sampleFeatures.forEach(function(f) {\n        html += '<tr>';\n        keys.forEach(function(k) {\n          var v = f.attributes[k];\n          if (v != null && String(v).length > 50) v = String(v).substring(0, 50) + '\\u2026';\n          html += '<td>' + (v != null ? v : '') + '</td>';\n        });\n        html += '</tr>';\n      });\n      html += '</table></div>';\n      document.getElementById('sampleData').innerHTML =\n        '<label style=\"margin-top:1rem;display:block\">Sample features (first 5)</label>' + html;\n    }\n\n    /* populate filter field dropdown */\n    var filterSel = document.getElementById('filterField');\n    filterSel.innerHTML = '<option value=\"\">(none &mdash; no filter)</option>';\n    state.fields.forEach(function(f) {\n      var short = f.type.replace('esriFieldType', '');\n      filterSel.innerHTML += '<option value=\"' + f.name + '\">' + f.name + ' (' + short + ')' + '</option>';\n    });\n    document.getElementById('distinctValues').innerHTML = '';\n    document.getElementById('filterPreview').textContent = '';\n    state.filterField = '';\n    state.distinctValues = [];\n    state.selectedValues = [];\n\n    /* populate label field dropdown */\n    var labelSel = document.getElementById('labelField');\n    labelSel.innerHTML = '<option value=\"\">(none)</option>';\n    state.fields.forEach(function(f) {\n      var isMission = (f.name.toLowerCase() === 'mission' || f.name.toLowerCase() === 'incidentname');\n      labelSel.innerHTML += '<option value=\"' + f.name + '\"' + (isMission ? ' selected' : '') + '>'\n        + f.name + '</option>';\n    });\n\n    /* auto-set UID prefix from layer name */\n    var match = state.layers.find(function(l) { return String(l.id) === String(layerId); });\n    if (match) {\n      document.getElementById('uidPrefix').value =\n        match.name.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '') + '-';\n    }\n\n    status('layerStatus',\n      state.fields.length + ' fields, geometry: ' + state.geometryType.replace('esriGeometry', ''), true);\n    enable(3); enable('3b'); enable(4); enable(5);\n  } catch (e) {\n    status('layerStatus', 'Fetch failed: ' + e.message, false);\n  }\n}\n\n/* ── Step 3b: Distinct values + filter ── */\nstate.distinctValues = [];\nstate.selectedValues = [];\nstate.filterField = '';\nstate.manualSources = [];\n\nasync function fetchDistinct() {\n  var field = document.getElementById('filterField').value;\n  if (!field) {\n    document.getElementById('distinctValues').innerHTML = '';\n    document.getElementById('filterPreview').textContent = '';\n    state.filterField = '';\n    state.distinctValues = [];\n    state.selectedValues = [];\n    return;\n  }\n  state.filterField = field;\n  document.getElementById('btnDistinct').disabled = true;\n\n  try {\n    var res = await fetch('/api/arcgis/distinct', {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        url: state.serviceUrl,\n        layerId: state.selectedLayer,\n        field: field\n      })\n    });\n    var data = await res.json();\n    if (data.error) { status('filterStatus', 'Error: ' + data.error, false); return; }\n\n    var raw = (data.values || []).map(function(v) { return v != null ? String(v).trim() : ''; });\n    var seen = {};\n    state.distinctValues = raw.filter(function(v) {\n      if (!v || seen[v]) return false;\n      seen[v] = true;\n      return true;\n    });\n    state.selectedValues = [];\n\n    var html = '<div class=\"cb-actions\">' +\n      '<button class=\"btn-secondary\" onclick=\"filterSelectAll()\">Select All</button>' +\n      '<button class=\"btn-secondary\" onclick=\"filterSelectNone()\">Select None</button>' +\n      '</div><div class=\"cb-grid\">';\n    state.distinctValues.forEach(function(v, i) {\n      var display = (v == null || v === '') ? '(empty)' : v;\n      html += '<label class=\"cb-item\">' +\n        '<input type=\"checkbox\" autocomplete=\"off\" onchange=\"filterToggle(this,' + i + ')\">' +\n        '<span>' + display + '</span></label>';\n    });\n    html += '</div>';\n    document.getElementById('distinctValues').innerHTML = html;\n    document.querySelectorAll('#distinctValues input[type=checkbox]').forEach(function(cb) {\n      cb.checked = false;\n    });\n    status('filterStatus', state.distinctValues.length + ' distinct values found', true);\n    renderAllSelectedTags();\n    updateFilterPreview();\n  } catch (e) {\n    status('filterStatus', 'Fetch failed: ' + e.message, false);\n  } finally {\n    document.getElementById('btnDistinct').disabled = false;\n  }\n}\n\nfunction filterToggle(cb, idx) {\n  var val = state.distinctValues[idx];\n  var item = cb.closest('.cb-item');\n  if (cb.checked) {\n    if (state.selectedValues.indexOf(val) < 0) state.selectedValues.push(val);\n    item.classList.add('checked');\n  } else {\n    state.selectedValues = state.selectedValues.filter(function(v) { return v !== val; });\n    item.classList.remove('checked');\n  }\n  renderAllSelectedTags();\n  updateFilterPreview();\n}\n\nfunction filterSelectAll() {\n  state.selectedValues = state.distinctValues.slice();\n  document.querySelectorAll('#distinctValues input[type=checkbox]').forEach(function(cb) {\n    cb.checked = true;\n    cb.closest('.cb-item').classList.add('checked');\n  });\n  renderAllSelectedTags();\n  updateFilterPreview();\n}\n\nfunction filterSelectNone() {\n  state.selectedValues = [];\n  document.querySelectorAll('#distinctValues input[type=checkbox]').forEach(function(cb) {\n    cb.checked = false;\n    cb.closest('.cb-item').classList.remove('checked');\n  });\n  renderAllSelectedTags();\n  updateFilterPreview();\n}\n\nfunction getAllFilterValues() {\n  var all = state.selectedValues.slice();\n  state.manualSources.forEach(function(m) {\n    if (all.indexOf(m) < 0) all.push(m);\n  });\n  return all;\n}\n\nfunction updateFilterPreview() {\n  var el = document.getElementById('filterPreview');\n  var all = getAllFilterValues();\n  var field = state.filterField || 'source';\n  if (all.length === 0 && state.manualSources.length === 0 && state.selectedValues.length === 0) {\n    el.textContent = '';\n    return;\n  }\n  if (all.length === 0) {\n    el.textContent = '⚠ No values selected — nothing will sync';\n    return;\n  }\n  if (state.filterField && all.length === state.distinctValues.length && state.manualSources.length === 0) {\n    el.textContent = 'Filter: all values selected (no filter applied)';\n    return;\n  }\n  var vals = all.map(function(v) { return \"'\" + String(v).replace(/'/g, \"''\") + \"'\"; });\n  el.textContent = 'WHERE ' + field + ' IN (' + vals.join(', ') + ')';\n}\n\nfunction addManualFilter() {\n  var input = document.getElementById('filterInput');\n  var raw = input.value.trim();\n  if (!raw) { return; }\n  var parts = raw.split(',');\n  parts.forEach(function(p) {\n    var val = p.trim();\n    if (!val) return;\n    if (state.manualSources.indexOf(val) >= 0) return;\n    if (state.selectedValues.indexOf(val) >= 0) return;\n    state.manualSources.push(val);\n  });\n  input.value = '';\n  renderAllSelectedTags();\n  updateFilterPreview();\n}\n\nfunction removeManualFilter(val) {\n  state.manualSources = state.manualSources.filter(function(v) { return v !== val; });\n  renderAllSelectedTags();\n  updateFilterPreview();\n}\n\nfunction removeCheckboxFilter(val) {\n  state.selectedValues = state.selectedValues.filter(function(v) { return v !== val; });\n  var idx = state.distinctValues.indexOf(val);\n  if (idx >= 0) {\n    var cbs = document.querySelectorAll('#distinctValues input[type=checkbox]');\n    if (cbs[idx]) {\n      cbs[idx].checked = false;\n      cbs[idx].closest('.cb-item').classList.remove('checked');\n    }\n  }\n  renderAllSelectedTags();\n  updateFilterPreview();\n}\n\nfunction renderAllSelectedTags() {\n  var html = '';\n  state.selectedValues.forEach(function(v) {\n    html += '<span class=\"filter-tag\">' + v +\n      ' <span class=\"x\" onclick=\"removeCheckboxFilter(\\'' + v.replace(/'/g, \"\\\\'\") + '\\')\">&times;</span></span>';\n  });\n  state.manualSources.forEach(function(v) {\n    html += '<span class=\"filter-tag\">' + v +\n      ' <span class=\"x\" onclick=\"removeManualFilter(\\'' + v.replace(/'/g, \"\\\\'\") + '\\')\">&times;</span></span>';\n  });\n  var el = document.getElementById('allSelectedTags');\n  if (el) el.innerHTML = html || '<span style=\"color:#555\">No sources selected</span>';\n}\n\n/* ── Step 5: Generate config ── */\nfunction generateConfig() {\n  var allValues = getAllFilterValues();\n  var filterField = state.filterField || (allValues.length > 0 ? 'source' : null);\n  var whereClause = null;\n  if (filterField && allValues.length > 0) {\n    var vals = allValues.map(function(v) { return \"'\" + String(v).replace(/'/g, \"''\") + \"'\"; });\n    whereClause = filterField + ' IN (' + vals.join(', ') + ')';\n  }\n\n  var config = {\n    source: {\n      serviceUrl: state.serviceUrl,\n      layerId: parseInt(state.selectedLayer, 10),\n      layerName: state.layerName,\n      geometryType: state.geometryType,\n      where: whereClause\n    },\n    mapping: {\n      idField: document.getElementById('idField').value,\n      timeField: document.getElementById('timeField').value || null\n    },\n    filter: {\n      field: filterField,\n      values: allValues.length > 0 ? allValues : null\n    },\n    style: {\n      color: document.getElementById('shapeColor').value,\n      fillAlpha: document.getElementById('fillAlpha').value,\n      strokeWeight: parseInt(document.getElementById('strokeWeight').value, 10),\n      strokeStyle: document.getElementById('strokeStyle').value,\n      closed: document.getElementById('closedShape').value === 'true',\n      labelsOn: document.getElementById('labelsOn').value === 'true',\n      labelField: document.getElementById('labelField').value || null\n    },\n    remarksTemplate: document.getElementById('remarksTemplate').value || null,\n    ttlHours: parseInt(document.getElementById('ttlHours').value, 10) || 0,\n    uidPrefix: document.getElementById('uidPrefix').value,\n    generated: new Date().toISOString()\n  };\n\n  document.getElementById('configOutput').textContent = JSON.stringify(config, null, 2);\n\n  fetch('/api/config/save', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify(config)\n  }).then(function(r) { return r.json(); })\n    .then(function(d) {\n      status('saveStatus', 'Saved to Node-RED flow context (' + d.configCount + ' config(s) stored)', true);\n    })\n    .catch(function() {});\n}\n\nfunction copyConfig() {\n  var t = document.getElementById('configOutput').textContent;\n  if (t) navigator.clipboard.writeText(t).then(function() {\n    status('saveStatus', 'Copied to clipboard', true);\n  });\n}\n\nfunction downloadConfig() {\n  var t = document.getElementById('configOutput').textContent;\n  if (!t) return;\n  var blob = new Blob([t], { type: 'application/json' });\n  var a = document.createElement('a');\n  a.href = URL.createObjectURL(blob);\n  a.download = 'arcgis-tak-config.json';\n  a.click();\n}\n\n/* ── Load saved configs on page open ── */\nvar _savedConfigs = [];\n\nasync function loadSavedConfigs() {\n  try {\n    var res = await fetch('/api/config/load');\n    var data = await res.json();\n    _savedConfigs = data.configs || [];\n    if (_savedConfigs.length === 0) return;\n\n    var bar = document.getElementById('savedConfigBar');\n    bar.style.display = 'block';\n    var sel = document.getElementById('savedConfigSelect');\n    sel.innerHTML = '<option value=\"\">— New config —</option>';\n    _savedConfigs.forEach(function(c, i) {\n      var label = (c.source.layerName || 'Config') + ' (' + (c.source.serviceUrl || '').split('/').pop() + ')';\n      sel.innerHTML += '<option value=\"' + i + '\">' + label + '</option>';\n    });\n\n    if (_savedConfigs.length === 1) {\n      sel.value = '0';\n      loadSavedConfig();\n    }\n  } catch (e) {}\n}\n\nasync function loadSavedConfig() {\n  var idx = document.getElementById('savedConfigSelect').value;\n  if (idx === '') return;\n  var c = _savedConfigs[parseInt(idx, 10)];\n  if (!c) return;\n\n  document.getElementById('serviceUrl').value = c.source.serviceUrl || '';\n  state.serviceUrl = c.source.serviceUrl || '';\n\n  await fetchService();\n\n  var layerSel = document.getElementById('layerSelect');\n  if (c.source.layerId != null) {\n    layerSel.value = String(c.source.layerId);\n    await fetchLayer();\n  }\n\n  if (c.mapping) {\n    if (c.mapping.idField) document.getElementById('idField').value = c.mapping.idField;\n    if (c.mapping.timeField) document.getElementById('timeField').value = c.mapping.timeField;\n  }\n\n  if (c.filter && c.filter.field) {\n    document.getElementById('filterField').value = c.filter.field;\n    await fetchDistinct();\n    if (c.filter.values && c.filter.values.length) {\n      state.selectedValues = [];\n      state.manualSources = [];\n      c.filter.values.forEach(function(v) {\n        var distIdx = state.distinctValues.indexOf(v);\n        if (distIdx >= 0) {\n          state.selectedValues.push(v);\n          var cbs = document.querySelectorAll('#distinctValues input[type=checkbox]');\n          if (cbs[distIdx]) {\n            cbs[distIdx].checked = true;\n            cbs[distIdx].closest('.cb-item').classList.add('checked');\n          }\n        } else {\n          state.manualSources.push(v);\n        }\n      });\n      renderAllSelectedTags();\n      updateFilterPreview();\n    }\n  }\n\n  if (c.style) {\n    if (c.style.color) {\n      document.getElementById('shapeColor').value = c.style.color;\n      document.getElementById('shapeColorPick').value = c.style.color;\n      updSwatch('swColor', c.style.color);\n    }\n    if (c.style.fillAlpha) document.getElementById('fillAlpha').value = c.style.fillAlpha;\n    if (c.style.strokeWeight) document.getElementById('strokeWeight').value = String(c.style.strokeWeight);\n    if (c.style.strokeStyle) document.getElementById('strokeStyle').value = c.style.strokeStyle;\n    if (c.style.closed != null) document.getElementById('closedShape').value = String(c.style.closed);\n    if (c.style.labelsOn != null) document.getElementById('labelsOn').value = String(c.style.labelsOn);\n    if (c.style.labelField) document.getElementById('labelField').value = c.style.labelField;\n  }\n\n  if (c.remarksTemplate) document.getElementById('remarksTemplate').value = c.remarksTemplate;\n  if (c.ttlHours != null) document.getElementById('ttlHours').value = c.ttlHours;\n  if (c.uidPrefix) document.getElementById('uidPrefix').value = c.uidPrefix;\n\n  status('saveStatus', 'Loaded saved config — edit and Generate to publish changes', true);\n}\n\nasync function deleteSavedConfig() {\n  var idx = document.getElementById('savedConfigSelect').value;\n  if (idx === '') return;\n  _savedConfigs.splice(parseInt(idx, 10), 1);\n  await fetch('/api/config/save-all', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ configs: _savedConfigs })\n  });\n  loadSavedConfigs();\n}\n\nloadSavedConfigs();\n</script>\n</body>\n</html>\n",
    "output": "str",
    "x": 390,
    "y": 80,
    "wires": [
      [
        "ho_ui"
      ]
    ]
  },
  {
    "id": "ho_ui",
    "type": "http response",
    "z": "flow_arcgis_cfg",
    "name": "",
    "statusCode": "200",
    "headers": {
      "content-type": "text/html"
    },
    "x": 590,
    "y": 80,
    "wires": []
  },
  {
    "id": "c_api",
    "type": "comment",
    "z": "flow_arcgis_cfg",
    "name": "── ArcGIS Proxy APIs ──",
    "info": "",
    "x": 240,
    "y": 160,
    "wires": []
  },
  {
    "id": "hi_svc",
    "type": "http in",
    "z": "flow_arcgis_cfg",
    "name": "POST /api/arcgis/service",
    "url": "/api/arcgis/service",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 200,
    "wires": [
      [
        "fn_svc"
      ]
    ]
  },
  {
    "id": "fn_svc",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Build service URL",
    "func": "const base = msg.payload.url.replace(/\\/+$/, '');\nmsg.url = base + '?f=json';\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 200,
    "wires": [
      [
        "hr_svc"
      ]
    ]
  },
  {
    "id": "hr_svc",
    "type": "http request",
    "z": "flow_arcgis_cfg",
    "name": "GET service info",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 620,
    "y": 200,
    "wires": [
      [
        "fn_svc_parse"
      ]
    ]
  },
  {
    "id": "fn_svc_parse",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Parse service",
    "func": "if (msg.payload.error) {\n  msg.payload = { error: msg.payload.error.message || 'ArcGIS error' };\n} else {\n  msg.payload = {\n    layers: (msg.payload.layers || []).map(function(l) {\n      return { id: l.id, name: l.name, geometryType: l.geometryType || null };\n    })\n  };\n}\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 810,
    "y": 200,
    "wires": [
      [
        "ho_svc"
      ]
    ]
  },
  {
    "id": "ho_svc",
    "type": "http response",
    "z": "flow_arcgis_cfg",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1000,
    "y": 200,
    "wires": []
  },
  {
    "id": "hi_lyr",
    "type": "http in",
    "z": "flow_arcgis_cfg",
    "name": "POST /api/arcgis/layer",
    "url": "/api/arcgis/layer",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 300,
    "wires": [
      [
        "fn_lyr"
      ]
    ]
  },
  {
    "id": "fn_lyr",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Build layer URL",
    "func": "const base = msg.payload.url.replace(/\\/+$/, '');\nmsg.url = base + '/' + msg.payload.layerId + '?f=json';\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 300,
    "wires": [
      [
        "hr_lyr"
      ]
    ]
  },
  {
    "id": "hr_lyr",
    "type": "http request",
    "z": "flow_arcgis_cfg",
    "name": "GET layer info",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 620,
    "y": 300,
    "wires": [
      [
        "fn_lyr_parse"
      ]
    ]
  },
  {
    "id": "fn_lyr_parse",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Parse layer",
    "func": "if (msg.payload.error) {\n  msg.payload = { error: msg.payload.error.message || 'ArcGIS error' };\n} else {\n  msg.payload = {\n    name: msg.payload.name,\n    geometryType: msg.payload.geometryType,\n    fields: (msg.payload.fields || []).map(function(f) {\n      return { name: f.name, type: f.type, alias: f.alias || f.name };\n    })\n  };\n}\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 810,
    "y": 300,
    "wires": [
      [
        "ho_lyr"
      ]
    ]
  },
  {
    "id": "ho_lyr",
    "type": "http response",
    "z": "flow_arcgis_cfg",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1000,
    "y": 300,
    "wires": []
  },
  {
    "id": "hi_smp",
    "type": "http in",
    "z": "flow_arcgis_cfg",
    "name": "POST /api/arcgis/sample",
    "url": "/api/arcgis/sample",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 400,
    "wires": [
      [
        "fn_smp"
      ]
    ]
  },
  {
    "id": "fn_smp",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Build sample query URL",
    "func": "const base = msg.payload.url.replace(/\\/+$/, '');\nconst lid  = msg.payload.layerId;\nmsg.url = base + '/' + lid + '/query?where=1%3D1&outFields=*&resultRecordCount=5&f=json';\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 400,
    "wires": [
      [
        "hr_smp"
      ]
    ]
  },
  {
    "id": "hr_smp",
    "type": "http request",
    "z": "flow_arcgis_cfg",
    "name": "GET sample features",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 620,
    "y": 400,
    "wires": [
      [
        "fn_smp_parse"
      ]
    ]
  },
  {
    "id": "fn_smp_parse",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Parse sample",
    "func": "if (msg.payload.error) {\n  msg.payload = { error: msg.payload.error.message || 'ArcGIS error' };\n} else {\n  msg.payload = { features: (msg.payload.features || []).slice(0, 5) };\n}\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 810,
    "y": 400,
    "wires": [
      [
        "ho_smp"
      ]
    ]
  },
  {
    "id": "ho_smp",
    "type": "http response",
    "z": "flow_arcgis_cfg",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1000,
    "y": 400,
    "wires": []
  },
  {
    "id": "hi_dist",
    "type": "http in",
    "z": "flow_arcgis_cfg",
    "name": "POST /api/arcgis/distinct",
    "url": "/api/arcgis/distinct",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 500,
    "wires": [
      [
        "fn_dist"
      ]
    ]
  },
  {
    "id": "fn_dist",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Build distinct query URL",
    "func": "const base  = msg.payload.url.replace(/\\/+$/, '');\nconst lid   = msg.payload.layerId;\nconst field = encodeURIComponent(msg.payload.field);\nmsg.url = base + '/' + lid + '/query'\n  + '?where=1%3D1'\n  + '&outFields=' + field\n  + '&returnDistinctValues=true'\n  + '&orderByFields=' + field\n  + '&resultRecordCount=500'\n  + '&f=json';\nmsg._field = msg.payload.field;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 500,
    "wires": [
      [
        "hr_dist"
      ]
    ]
  },
  {
    "id": "hr_dist",
    "type": "http request",
    "z": "flow_arcgis_cfg",
    "name": "GET distinct values",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 620,
    "y": 500,
    "wires": [
      [
        "fn_dist_parse"
      ]
    ]
  },
  {
    "id": "fn_dist_parse",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Parse distinct",
    "func": "if (msg.payload.error) {\n  msg.payload = { error: msg.payload.error.message || 'ArcGIS error' };\n} else {\n  var field = msg._field;\n  var vals = (msg.payload.features || []).map(function(f) {\n    return f.attributes[field];\n  });\n  msg.payload = { values: vals };\n}\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 810,
    "y": 500,
    "wires": [
      [
        "ho_dist"
      ]
    ]
  },
  {
    "id": "ho_dist",
    "type": "http response",
    "z": "flow_arcgis_cfg",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1000,
    "y": 500,
    "wires": []
  },
  {
    "id": "c_save",
    "type": "comment",
    "z": "flow_arcgis_cfg",
    "name": "── Config Save ──",
    "info": "",
    "x": 240,
    "y": 580,
    "wires": []
  },
  {
    "id": "hi_save",
    "type": "http in",
    "z": "flow_arcgis_cfg",
    "name": "POST /api/config/save",
    "url": "/api/config/save",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 620,
    "wires": [
      [
        "fn_save"
      ]
    ]
  },
  {
    "id": "fn_save",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Save to flow context",
    "func": "var config  = msg.payload;\nvar configs = flow.get('arcgis_configs') || [];\nvar idx = configs.findIndex(function(c) {\n  return c.source.serviceUrl === config.source.serviceUrl\n      && c.source.layerId    === config.source.layerId;\n});\nif (idx >= 0) { configs[idx] = config; }\nelse           { configs.push(config); }\nflow.set('arcgis_configs', configs);\nmsg.payload = { ok: true, configCount: configs.length };\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 620,
    "wires": [
      [
        "ho_save"
      ]
    ]
  },
  {
    "id": "ho_save",
    "type": "http response",
    "z": "flow_arcgis_cfg",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 640,
    "y": 620,
    "wires": []
  },
  {
    "id": "hi_saveall",
    "type": "http in",
    "z": "flow_arcgis_cfg",
    "name": "POST /api/config/save-all",
    "url": "/api/config/save-all",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 660,
    "wires": [
      [
        "fn_saveall"
      ]
    ]
  },
  {
    "id": "fn_saveall",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Replace all configs",
    "func": "flow.set('arcgis_configs', msg.payload.configs || []);\nmsg.payload = { ok: true };\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 660,
    "wires": [
      [
        "ho_saveall"
      ]
    ]
  },
  {
    "id": "ho_saveall",
    "type": "http response",
    "z": "flow_arcgis_cfg",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 640,
    "y": 660,
    "wires": []
  },
  {
    "id": "hi_load",
    "type": "http in",
    "z": "flow_arcgis_cfg",
    "name": "GET /api/config/load",
    "url": "/api/config/load",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 700,
    "wires": [
      [
        "fn_load"
      ]
    ]
  },
  {
    "id": "fn_load",
    "type": "function",
    "z": "flow_arcgis_cfg",
    "name": "Load from flow context",
    "func": "var configs = flow.get('arcgis_configs') || [];\nmsg.payload = { configs: configs };\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 700,
    "wires": [
      [
        "ho_load"
      ]
    ]
  },
  {
    "id": "ho_load",
    "type": "http response",
    "z": "flow_arcgis_cfg",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 640,
    "y": 700,
    "wires": []
  }
]